{% extends '::admin.html.twig' %}


{% block bodyJavascripts %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#exercicesTable').DataTable({});
        } );
    </script>
{% endblock %}



{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                        <li>Exercices</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Exercices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <h3>Manage exercice</h3>
        <a href="{{ path('testmyskills_admin_exercices_add') }}">Add an exercices</a>
        <table id="exercicesTable" class="maxsize">
            <thead>
                <tr>
                    <th>exercice name</th>
                    <th>exercice description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for exercice in exercices %}
                <tr>
                    <td style="min-width:20%">{{ exercice.name }}</td>
                    <td style="width:50%">{{ exercice.description }}</td>
                    <td style="min-width:10%">
                        <a href="{{ path("testmyskills_admin_exercice_update",{exerciceId:exercice.id}) }}">Update</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_exercice_questions",{exerciceId:exercice.id}) }}">Manage questions</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_exercices",{linkAction:"delete",exerciceId:exercice.id}) }}">Delete</a>
                        <br />
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}