{% extends '::admin.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Admin Dashboard</h3>
        <br />
        <a href="{{ path("testmyskills_admin_tests") }}">Manager tests</a><br >
        <a href="{{ path("testmyskills_admin_tests") }}">Manager exercices</a><br >
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path("testmyskills_admin_users") }}">Manager users</a>
        {% endif %}


    </div>
{% endblock %}