{% extends '::admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block stylessheets %}

{% endblock %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                        <li><a href="{{ path("testmyskills_admin_tests") }}">Users</a></li>
                        <li><a href="{{ path("testmyskills_admin_user_details",{userId:user.id}) }}">{{ user.firstname }} {{ user.lastname }}</a></li>
                        <li>Order details</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Orders</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

    {% for type in ['info', 'success', 'error'] %}
        {% for message in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type }} alert-admin">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h3>Order details</h3>
        <form action="{{ path("testmyskills_admin_order_details",{orderId:order.id}) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" value="Modify" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}