{% extends '::admin.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                        <li><a href="{{ path("testmyskills_admin_tests") }}">Tests</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Tests categories</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Categories of test <strong>{{ test.name }}</strong></h3>
        <br />
        <a href="{{ path('testmyskills_admin_test_category_add',{testId:test.id}) }}">Add a category</a>
        <table class="maxsize">
            <tr>
                <td>Category name</td>
                <td>Activated</td>
                <td>Actions</td>
            </tr>
            {% for category in test.categories if test.categories.count() > 0 %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.activated }}</td>
                    <td>
                        <a href="{{ path("testmyskills_admin_test_question_add",{testId:test.id}) }}">Add question</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_test_category_update",{testId:test.id,categoryId:category.id}) }}">Update</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_test_categories",{testId:test.id,categoryId:category.id,"linkAction":"delete"}) }}">Delete</a>
                        <br />
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">no category</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}