{% extends '::admin.html.twig' %}


{% block bodyJavascripts %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#testsTable').DataTable({});
        } );
    </script>
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Manage your test</a></li>
                        <li class="active"><a href="{{ path("testmyskills_manage_tests") }}">Tests</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Tests</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <h3>Manage tests</h3>
        <a href="{{ path('testmyskills_admin_test_add') }}">Add a test</a>
        <table id="testsTable" class="maxsize">
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Test name</th>
                    <th>Test description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr>
                    <td style="min-width:20%">{{ test.technologyId|technology }}</td>
                    <td style="min-width:20%">{{ test.name }}</td>
                    <td style="width:50%">{{ test.description }}</td>
                    <td style="min-width:10%">
                        <a href="{{ path("testmyskills_admin_test_update",{testId:test.id}) }}">Update</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_test_categories",{testId:test.id}) }}">Manage categories</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_test_questions",{testId:test.id}) }}">Manage questions</a>
                        <br />
                        <a href="{{ path("testmyskills_admin_tests",{linkAction:"delete",testId:test.id}) }}">Delete</a>
                        <br />
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}