{% extends '::admin.html.twig' %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                        <li><a href="{{ path("testmyskills_admin_tests") }}">Tests</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Update test question</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <h1>Manage questions <strong>for {{ test.name }}</strong></h1>
        <br /><br />
        <a href="{{ path("testmyskills_admin_test_question_add",{testId:test.id}) }}">Add a question</a>
        <br />
        <table class="maxsize">
            <tr>
                <td>Category</td>
                <td>Questions</td>

                <td>Action</td>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{  question.categoryId|category(test.id) }}</td>
                    <td>{{ loop.index }}) {{  question.question }}</td>

                    <td>
                        <a href="{{ path("testmyskills_admin_test_question_update",{testId:test.id,questionId:question.id}) }}">
                            Update question
                        </a>
                        <br />
                        <a href="{{ path("testmyskills_admin_test_questions",{testId:test.id,"linkAction":"delete","questionId":question.id}) }}">
                            Delete question
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}