{% extends '::admin.html.twig' %}


{% block javascripts %}

{% endblock %}

{% block stylessheets %}

{% endblock %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                        <li>Exercices</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Exercices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.instructions) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.numberQuestions) }}
        {{ form_row(form.time) }}
        {{ form_row(form.activated) }}
        <ul class="questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}">
            {% for question in form.questions %}
                <li>{{ form_row(question) }}</li>
            {% endfor %}
        </ul>
        <input type="submit" class="fright btn btn-lg btn-lg btn-primary" value="Save"/>
        {{ form_widget(form._token) }}
        </form>
    </div>

{% endblock %}


{% block bodyJavascripts %}
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addAnswerLink = $('<a href="#" class="add_answer_link">Add an question</a>');
        var $newLinkLi = $('<li></li>').append($addAnswerLink);


        function addAnswerForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.questions');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAnswerLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAnswerForm($collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock %}