{% extends '::admin.html.twig' %}


{% block bodyJavascripts %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable({});
        } );
    </script>
{% endblock %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Users</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Manage users</h3>
        <br />
        <table id="usersTable" class="table">
            <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email}}</td>
                <td>{{user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td><a href="{{ path("testmyskills_admin_user_details",{userId:user.id}) }}">Details</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}