{% extends '::admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block stylessheets %}

{% endblock %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                        <li><a href="{{ path("testmyskills_admin_users") }}">User</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Tests</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel-group without-bg" id="accordion7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7One" aria-expanded="true">
                            User informations
                        </a>
                    </h4>
                </div>
                <div id="collapse7One" class="accordion-body collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{{ path("testmyskills_admin_user_details",{userId:user.id}) }}" method="post">
                                {{ form_widget(form) }}
                                <input type="submit" value="Modify" class="btn btn-primary" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Two" aria-expanded="false">
                            Transactions
                        </a>
                    </h4>
                </div>
                <div id="collapse7Two" class="accordion-body collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Date</th>
                                <th>Plan</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.date|date("Y-m-d") }}</td>
                                <td>{{ transaction.offerName }}</td>
                                <td>{{ transaction.amount }} €</td>
                                <td>
                                {% if transaction.status == "1" %}
                                    accepted
                                {% elseif transaction.status == "-1" %}
                                    refused
                                {% elseif transaction.status == "0" %}
                                    pending
                                {% endif %}
                                </td>
                                <td><a href="{{ path("testmyskills_admin_order_details",{orderId:transaction.id}) }}">Details</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Three" aria-expanded="false">
                            Credits
                        </a>
                    </h4>
                </div>
                <div id="collapse7Three" class="accordion-body collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <form action="{{ path("testmyskills_admin_user_details",{userId:user.id}) }}" method="post">
                            <input type="text" name="credits" class="input-lg form-control" />
                            <input type="submit" value="Update">
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}