{% extends '::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript " src="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script type="text/javascript " src="/bundles/core/js/addTest.js"></script>

{% endblock %}

{% block stylessheets %}
    <link rel="stylesheet" href="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
{% endblock %}



{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li><a href="{{ path("testmyskills_manage_tests") }}">Tests</a></li>
                        <li><a href="{{ path("testmyskills_manage_categories",{testId:test.id}) }}">{{ test.name }} categories</a></li>
                        <li class="active">Add category</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Add or update a test category</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Manage test <strong>categories</strong></h3>
        <br />
        <a href="{{ path('testmyskills_manage_tests') }}">Return to tests list</a><br />
        <br />
        <br />
        {{ form_start(form,   {attr: {novalidate: 'novalidate', class:'formbig'}}) }}
        {{ form_widget(form) }}
        <input type="submit" class="fright btn btn-lg btn-lg btn-primary" value="Save"/>
        {{ form_end(form) }}
    </div>

{% endblock %}