{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li><a href="{{ path("testmyskills_manage_tests") }}">Tests</a></li>
                        <li class="active">{{ test.name }} categories</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Test categories</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Categories of test <strong>{{ test.name }}</strong></h3>
        <br />
        <a href="{{ path('testmyskills_manage_tests') }}">Return to tests list</a><br />
        <a href="{{ path('testmyskills_manage_add_category',{testId:test.id}) }}">Add a category</a>
        <br /><br />
        <table class="maxsize">
            <tr>
                <td>Category name</td>
                <td>Enabled</td>
                <td>Actions</td>
            </tr>
            {% for category in test.categories if test.categories.count() > 0 %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        {% if category.activated == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path("testmyskills_manage_add_question",{testId:test.id}) }}">Add a question</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_update_category",{testId:test.id,categoryId:category.id}) }}">Update</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_categories",{testId:test.id,categoryId:category.id,"linkAction":"delete"}) }}">Delete</a>
                        <br />
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">no category</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}