{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li class="active">Manage your test</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Manage your test</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h3>Manage tests</h3>
        <a href="{{ path('testmyskills_manage_test_add') }}">Add a test</a>
        <table class="maxsize">
            <tr>
                <td>Test name</td>
                <td>Test description</td>
                <td>Actions</td>
            </tr>
            {% for test in tests %}
                <tr>
                    <td style="min-width:20%">{{ test.name }}</td>
                    <td style="width:70%">{{ test.description }}</td>
                    <td style="min-width:10%">
                        <a href="{{ path("testmyskills_test_details",{testSlug:test.nameSlugued,testName:test.name}) }}">Statistics</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_test_update",{testId:test.id}) }}">Update</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_categories",{testId:test.id}) }}">Manage categories</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_questions",{testId:test.id}) }}">Manage questions</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_tests",{linkAction:"delete",testId:test.id}) }}">Delete</a>
                        <br />
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}