{% extends '::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts_end %}
    <script type="text/javascript " src="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script type="text/javascript " src="/bundles/core/js/addTest.js"></script>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addAnswerLink = $('<br /><br /><a href="#" class="add_answer_link"><i class="fa fa-star"> Add an Response</a>');
        var $newLinkLi = $('<li></li>').append($addAnswerLink);



        $('form').on('click', '.delete-question', function()
        {
            $(this).parent().remove();//remove element
            //optionally submit department form via AJAX call to persist the delete
            return false;//stop event
        });

        function addAnswerForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            newForm+='<div  class="btn btn-danger delete-question">Delete</div>';
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.answers');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAnswerLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAnswerForm($collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock %}

{% block stylessheets %}
    <link rel="stylesheet" href="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
{% endblock %}



{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li><a href="{{ path("testmyskills_manage_tests") }}">Tests</a></li>
                        <li><a href="{{ path("testmyskills_manage_questions",{testId:test.id}) }}">{{ test.name }} questions</a></li>
                        <li class="active">Add a question</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Add question to {{ test.name }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div  class="alert alert-{% if type=="error" %}danger{% else %}{{ type }}{% endif %} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <br />
        <a href="{{ path('testmyskills_manage_tests') }}">Return to tests list</a><br />
        <br /><br />
        <h3>Manage test <strong>questions</strong></h3>
        <br/>
        {% if no_categories == true %}
            <h4 class="textcenter">You need to create categories before create a question</h4>
            <br />
            <div class="textcenter"><a href="{{ path("testmyskills_manage_categories",{testId:test.id}) }}">Add a category</a></div>
        {% else %}
            {{ form_start(form,  {attr: {novalidate: 'novalidate',class:'formbig'}}) }}
            <div class="toggle toggle-primary" data-plugin-toggle="" data-plugin-options="{ &quot;isAccordion&quot;: true }">
                <section class="toggle active"><label class="section">Questions informations</label>
                    <br /><br />
                    <div class="toggle-content" style="display: block;">
                        {{ form_row(form.question) }}
                        {# {{ form_row(form.explanation) }} #}
                        {{ form_row(form.categoryId) }}
                    </div>
                </section>
                <section class="toggle">
                    <label class="section">Responses</label>

                    <div class="toggle-content" style="display: none;">

                        <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}">
                            {# iterate over each existing tag and render its only field: name #}
                            {% for answer in form.answers %}
                                <li>{{ form_row(answer) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
            <input type="submit" class="fright btn btn-lg btn-lg btn-primary" value="Save"/>
            {{ form_widget(form._token) }}
        </form>

        {% endif %}
    </div>

{% endblock %}