{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Error
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Error</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Error</h1>

                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <p>An error occured. our team has been warned</p>
        <a href="/">return to Home page</a>
    </div>
{% endblock %}

