html.admin #header .header-body {position:static!important;}

.maxsize {width:100%;}
table {
  td {
    vertical-align:top;
  }
}

ul.answers {
  padding-left:0px;
}

form[name="question"] {
  textarea[name="question[question]"] {
    width:100%;
    height:500px;
  }
  textarea[name="question[explanation]"] {
    width:100%;
    height:300px;
  }
}