#formInvite {
  width:45%;
  margin:0 auto;
  label,input {
      width:100%;
      display:inline-block;
      margin:10px;
  }
  .select2 {
    width:100%!important;
  }

  span.select2 {
    margin-left:10px;
  }

  input[type="submit"] {
    width:30%!important;
    float:right;
    margin-right:20px!important;
    background-color:#0088cc;
    display:inline-block;
    color:white;
    border:none;
    border-radius:5px;
    padding:5px;
  }

}