#fos_login {
  width:40%;
  margin:0 auto;
  label,input {
      width:200px;
      display:inline-block;
      margin:10px;
  }

  input[type="submit"] {
    width:200px;
    float:right;
    margin:0 auto!important;
    background-color:#0088cc;
    display:inline-block;
    color:white;
    border:none;
    border-radius:5px;
    padding:5px;
  }

}