.fos_user_registration_register {
  width:40%;
  margin:0 auto;
  label,input {
      width:200px;
      display:inline-block;
      margin:10px;
  }
  #fos_user_registration_form {
    div:nth-child(2) {
      text-align:left;
      margin-top:0px;
    }
  }
  div:nth-child(2) {
    text-align:center;
    margin-top:20px;
  }
  input[type="submit"] {
    width:200px;
    margin:0 auto!important;
    background-color:#0088cc;
    display:inline-block;
    color:white;
    border:none;
    border-radius:5px;
    padding:5px;
  }

}