@import "register.less";
@import "login.less";
@import "admin.less";
@import "dashboard.less";

.textcenter {
  text-align:center;
}

.fright {
  float:right
}

.cleaner {
  clear:both;
  display:table;
  width:1px;
}

.no-margin {
  margin:0px!important;
  margin-left:0px!important;
  margin-top:0px!important;
  margin-bottom:0px!important;
  margin-right:0px!important;
}

.no-padding {
  padding:0px!important;
  padding-left:0px!important;
  padding-top:0px!important;
  padding-bottom:0px!important;
  padding-right:0px!important;
}

.normal {
  font-size:1em!important;
}

table {
  tr:first-child {
    td {
      font-weight:bold;
    }
  }

  tr {
    border-bottom:1px solid #dedede;
  }
  td {
    padding:5px;
  }
}

.activated {
  background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: linear-gradient(to bottom, #bfdc7a, #8ebf45);
  background-color: #bfdc7a;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  left: -5px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  top: 15px;
  width: 120px;
}

.not-activated {
  background-image: -webkit-linear-gradient(top, #ead08a, #d7a419);
  background-image: linear-gradient(to bottom, #ead08a, #d7a419);
  background-color: #bfdc7a;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  left: -5px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  top: 15px;
  width: 120px;

}