hello {{ user.firstname }} {{ user.lastname }},<br />
<br />
Your transaction on IT-EXAMS.tech has been <b>accepted</b>.<br />
<br />
Order ID : {{ order.id }}<br />
Order Amount : {{ order.amount }}<br />
Order Date : {{ order.date|date("Y-m-d") }}<br />
<br />
<br />
Best regards IT-EXAMS Team.