{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Your transaction</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Your transaction</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="featured-boxes">
            <div class="row textcenter">
                {% if status == "ok" %}
                    <h1>Order has been accepted</h1>
                {%  else %}
                    <h1>Order has been refused</h1>
                {% endif %}
                <table align="center" class="table" style="width:50%">
                    <tr>
                        <td class="strong textright">Order Id :</td>
                        <td class="textcenter">{{ order.id }}</td>
                    </tr>
                    <tr>
                        <td class="strong textright">Product :</td>
                        <td class="textcenter">{{ order.offerName }}</td>
                    </tr>
                    <tr>
                        <td class="strong textright">Amount :</td>
                        <td class="textcenter">{{ order.amount }} €</td>
                    </tr>
                    <tr>
                        <td class="strong textright">Date :</td>
                        <td class="textcenter">{{ order.date|date("Y-m-d h:m:i") }}</td>
                    </tr>
                </table>
                <br />
                <br />
                <a href="{{ path("testmyskills_dashboard") }}">Return to the dashboard</a>
            </div>
        </div>
    </div>
{% endblock %}