
<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="http://dev.it-exams.tech/css/invoice_style.css">
</head>
<body>
<div class="clearfix" style="margin:0 auto;width:900px;">
    <div id="address-window">

        <p class="sender">
            <img src="http://dev.it-exams.tech/img/logo.png" alt="logo" />
            <br />
            <strong style="text-decoration:underline">Vendor</strong><br />
            <strong>Nicolas Blaudez</strong> <br />
            1TER rue de laxou <br />
            54000 Nancy<br />
            SIREN : 479 090 433
        </p>

        <p class="receiver">
            <br /><br /><br /><br />
            <strong style="text-decoration:underline">Customer</strong><br />
            <strong>{{ user.companyName }}</strong><br/>
            {{ user.firstname }} {{ user.lastname }}<br>
            {{ user.address }}<br>
            {{ user.zipCode }} {{ user.city }}<br>
            {{ user.country }}
        </p>
    </div>
</div>
<br /><br /><br />
<article style="margin:0 auto;width:900px;">
    <h1>Invoice {{ invoice.invoiceId }}</h1>
    <p class="head"><strong>Date :</strong> {{ invoice.date|date("Y-m-d h:i:s") }}</p>
    <table>
        <thead>
        <tr>
            <th class="textleft">Item</th>
            <th class="textright">Qty</th>
            <th class="textright">Description</th>
            <th class="textright">Price</th>
            <th class="textright">Vat</th>
            <th class="textright">Total</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td class="textleft">{{ order.offerName }}</td>
            <td class="textright">1</td>
            <td class="textright">
                {% if order.amount=="30" %}
                    5 tests
                {% else %}
                    Unlimited access
                {% endif %}
            </td>
            <td class="textright">{{ order.amount }} €</td>
            <td class="textright">0 €</td>
            <td class="textright">{{ order.amount }} €</td>
        </tr>

        <tr class="foot">
            <td colspan="5">SubTotal</td>
            <td class="textright">{{ order.amount }} €</td>
        </tr>

        <tr class="foot">
            <td colspan="5">VAT 0%</td>
            <td class="textright">0 €</td>
        </tr>

        <tr class="foot">
            <td colspan="5"><strong>Total</strong></td>
            <td class="textright"><strong>{{ order.amount }} €</strong></td>
        </tr>
        </tbody>
    </table>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br />
    <p style="text-align:center">
        VAT no applicable, art. 293B of CGI<br />
        Exempt from registration at the Registry of Trade and Companies and at the Trade Directory
    </p>
</article>
</body>
</html>