{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Your transactions</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Your transactions</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="featured-boxes">
            <div class="row textcenter">
                <h3 style="text-align:left;">Your transactions</h3>
                <table class="table">
                    <tr>
                        <th class="textcenter">Date</th>
                        <th class="textcenter">Plan</th>
                        <th class="textcenter">Amount</th>
                        <th class="textcenter">Status</th>
                        <th class="textcenter">Details</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td class="textcenter">{{ order.date|date("y-m-d h:i") }}</td>
                            <td class="textcenter">{{ order.offerName }}</td>
                            <td class="textcenter">{{ order.amount }} €</td>
                            <td class="textcenter">
                                {%  if order.status == 1  %}
                                    Accepted
                                {% elseif order.status == 0 %}
                                    Pending
                                {% elseif order.status == -1 %}
                                    Refused
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path("testmyskills_order_details",{"orderId":order.id}) }}">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}