{% extends '::layout.html.twig' %}





{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="{{ path("testmyskills_admin_tests") }}">Order</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Order details</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Details of your order</h1>

        <div class="featured-boxes">
            <div class="row textcenter">
                {% if order.status == "1" %}
                    <h4>Order has been accepted</h4>
                    <br />
                    <div class="row"><div class="col-md-3"></div><div class="col-md-6 textleft"><a href="{{ path("testmyskills_payment_invoice",{orderId: order.id}) }}">Download your invoice</a></div><div class="col-md-3"></div></div>
                    <br/><br/>
                {%  elseif order.status == "0" %}
                    <h4>Order is pending</h4>
                {%  else %}
                    <h4>Order has been refused</h4>
                {% endif %}
                <table align="center" class="table" style="width:50%">
                    <tr>
                        <td class="strong textright">Order Id :</td>
                        <td class="textcenter">{{ order.id }}</td>
                    </tr>
                    <tr>
                        <td class="strong textright">Product :</td>
                        <td class="textcenter">{{ order.offerName }}</td>
                    </tr>
                    <tr>
                        <td class="strong textright">Amount :</td>
                        <td class="textcenter">{{ order.amount }} €</td>
                    </tr>
                    <tr>
                        <td class="strong textright">Date :</td>
                        <td class="textcenter">{{ order.date|date("Y-m-d h:i:s") }}</td>
                    </tr>
                </table>
                <br />
                <br />
                <a href="{{ path("testmyskills_order_list") }}">Return to the order list</a>
                <br/>
                <a href="{{ path("testmyskills_dashboard") }}">Return to the dashboard</a>
            </div>
        </div>
    </div>

{% endblock %}