{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path('testmyskills_dashboard') }}">dashboard</a></li>
                        <li class="active">Your Informations</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Your Informations</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Fill this form to be able to order a plan</h3>
        <br /><br />
        <div class="featured-boxes">
            <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg">
                <div class="box-content textleft">
                    <div class="row">

                        <br/>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            {% if saved == true %}
                                <div class="alert alert-info">Your informations has been saved.
                                     {% if hasAPlan != true %}
                                    <a href="{{ path("testmyskills_prices") }}">Order a plan</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Company name</label>
                                    {{ form_widget(form.companyName, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Firstname</label>
                                    {{ form_widget(form.firstname, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>lastname</label>
                                    {{ form_widget(form.lastname, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Address</label>
                                    {{ form_widget(form.address, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Zip-code</label>
                                    {{ form_widget(form.zipCode, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>City</label>
                                    {{ form_widget(form.city, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Country</label>
                                    {{ form_widget(form.country, {"attr":{"class":"form-control input-lg"}}) }}
                                </div>
                            </div>

                            <input type="submit" class="fright btn btn-lg btn-lg btn-primary" value="Save"/>
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}