<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}testmyskills.io{% endblock %}</title>

    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="description" content="{% block keywords %}{% endblock %}" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <!-- <link href="http://fonts.googleapis.com//css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text//css"> -->

    <!-- Vendor /css -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme /css -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/theme-blog.css">
    <link rel="stylesheet" href="/css/theme-shop.css">
    <link rel="stylesheet" href="/css/theme-animate.css">
    <link rel="stylesheet" href="/css/ct_styles.min.css">
    <link rel="stylesheet" href="/css/datatables.css">

    <!-- Current Page /css -->
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="/vendor/rs-plugin/css/layers.css" media="screen">
    <link rel="stylesheet" href="/vendor/rs-plugin/css/navigation.css" media="screen">
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen">
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css" media="screen">

    <!-- Skin /css -->
    <link rel="stylesheet" href="/css/skins/default.css">

    <!-- Theme Custom /css -->
    <link rel="stylesheet" href="/css/custom.css">


    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.css">

    {% block cssHeader %}
    {% endblock %}

    <script src="//platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US
        api_key: 77vyujg3e4kg5g
        authorize: false
    </script>
    {% block javascripts_start %}
    {% endblock %}



</head>
<body>
<div class="body">
    <header id="header"
            data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": "30px", "stickySetTop": "-30px", "stickyChangeLogo": true}'>
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="/">
                                <img src="/img/logo.png" alt="It-exams logo"/>
                            </a>
                        </div>
                    </div>
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-nav">
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                        data-target=".header-nav-main">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul class="header-social-icons social-icons hidden-xs">
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                                         title="Facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                                        title="Twitter"><i
                                                    class="fa fa-twitter"></i></a></li>
                                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                                                         title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                    <nav>
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="dropdown">
                                                <a href="/">
                                                    Home
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="{{ path("testmyskills_features") }}">
                                                    Features
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="{{ path("testmyskills_prices") }}">
                                                    Prices
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="{{ path("testmyskills_sectors") }}">
                                                    Tests information
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="{{ path("testmyskills_exercices") }}">
                                                    Exercises information
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="{{ path("testmyskills_contact") }}">
                                                    Contact
                                                </a>
                                            </li>
                                            {% if app.user %}
                                                <li class="dropdown">
                                                    <a href="{{ path("testmyskills_dashboard") }}">
                                                        Dashboard
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown">
                                                            <a href="{{ path("testmyskills_dashboard") }}">
                                                                Dashboard
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="#">Tests</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{{ path("testmyskills_dashboard_test_new") }}">Start new test online</a></li>
                                                                <li><a href="{{ path("testmyskills_dashboard_test_invite") }}">Invite an user to take a test</a></li>
                                                                <li><a href="{{ path("testmyskills_manage_tests") }}">Manage your tests</a></li>
                                                                <li><a href="{{ path("testmyskills_dashboard_tests_results") }}">Tests results</a></li>
                                                            </ul>
                                                         </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="#">Exercises</a>
                                                            <ul class="dropdown-menu">
                                                                {#<li><a href="{{ path("testmyskills_dashboard_exercices_new") }}">Start new exercice online</a></li>#}
                                                                <li><a href="{{ path("testmyskills_dashboard_exercice_invite") }}">Invite an user to take a exercise</a></li>
                                                                <li><a href="{{ path("testmyskills_manage_exercice") }}">Manage your exercises</a></li>
                                                                <li><a href="{{ path("testmyskills_dashboard_exercices_results") }}">Exercises results</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="#">Informations & customisation</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{{ path('testmyskills_payment_userinfos',{"plan":"basic"}) }}">Your personal informations</a></li>
                                                                <li><a href="{{ path('testmyskills_dashboard_customisation') }}">Customisation</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="#">Billing</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{{ path("testmyskills_dashboard_credits") }}">Your credits</a></li>
                                                                <li><a href="{{ path("testmyskills_order_list") }}">Your invoices</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a href="#">Affiliation</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{{ path("testmyskills_dashboard_affiliation") }}">Affiliation system</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/logout">Logout</a></li>

                                                    </ul>

                                                </li>
                                            {% else %}
                                                <li class="dropdown dropdown-mega"
                                                    id="headerAccount">
                                                    <a class="dropdown-toggle" href="/login">
                                                        <i class="fa fa-user"></i> Sign In
                                                        <i class="fa fa-caret-down"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <div class="dropdown-mega-content">
                                                                <div class="row">
                                                                    <div class="col-md-12">


                                                                        <div class="signup-form  col-md-6">
                                                                            <span class="dropdown-mega-sub-title">Create Account</span>
                                                                            <form action="{{ path('fos_user_registration_register') }}"
                                                                                  method="post">
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-12">
                                                                                            <label>E-mail
                                                                                                Address</label>
                                                                                            <input type="text"
                                                                                                   name="fos_user_registration_form[email]"
                                                                                                   value=""
                                                                                                   class="form-control input-lg">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-12">
                                                                                            <label>Username</label>
                                                                                            <input type="text"
                                                                                                   name="fos_user_registration_form[username]"
                                                                                                   value=""
                                                                                                   class="form-control input-lg">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-6">
                                                                                            <label>Password</label>
                                                                                            <input type="password"
                                                                                                   name="fos_user_registration_form[plainPassword][first]"
                                                                                                   value=""
                                                                                                   class="form-control input-lg">
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <label>Re-enter
                                                                                                Password</label>
                                                                                            <input type="password"
                                                                                                   name="fos_user_registration_form[plainPassword][second]"
                                                                                                   value=""
                                                                                                   class="form-control input-lg">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <input type="submit"
                                                                                               value="Create Account"
                                                                                               class="btn btn-primary pull-right mb-xl"
                                                                                               data-loading-text="Loading...">
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>


                                                                        <div class="signin-form col-md-6">
                                                                            <span class="dropdown-mega-sub-title">Sign In</span>
                                                                            <form action="{{ path("fos_user_security_check") }}"
                                                                                  method="post">
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-12">
                                                                                            <label>Username</label>
                                                                                            <input type="text"
                                                                                                   id="username"
                                                                                                   name="_username"
                                                                                                   value="{{ last_username }}"
                                                                                                   required="required"
                                                                                                   class="form-control input-lg">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-12">
                                                                                            <a class="pull-right" href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
                                                                                            <label>Password</label>
                                                                                            <input type="password"
                                                                                                   id="password"
                                                                                                   name="_password"
                                                                                                   required="required"
                                                                                                   class="form-control input-lg">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                    <span class="remember-box checkbox">
                                                                                        <label for="rememberme">
                                                                                            <input type="checkbox"
                                                                                                   id="remember_me"
                                                                                                   name="_remember_me"
                                                                                                   value="on">Remember
                                                                                            Me
                                                                                        </label>
                                                                                    </span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <input type="submit"
                                                                                               value="Login"
                                                                                               class="btn btn-primary pull-right mb-xl"
                                                                                               data-loading-text="Loading...">
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <li class="dropdown">
                                                <a href="{{ path("testmyskills_admin") }}">
                                                    Admin
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><strong>Admin</strong></li>
                                                    <li><a href="{{ path("email_index") }}">Email</a></li>
                                                    <li><a href="{{ path("testmyskills_admin_exercices") }}">Exercises</a></li>
                                                    <li><a href="{{ path("testmyskills_admin_tests") }}">Tests</a></li>
                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                        <li><a href="{{ path("testmyskills_admin_users") }}">Users</a></li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                                {% if is_granted('ROLE_SELLER') %}
                                            <li class="dropdown">
                                                <a href="{{ path("prospection_dashboard") }}">
                                                    Seller
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path("prospection_dashboard") }}">Dashboard</a></li>
                                                    <li><a href="{{ path("prospection_createAccount") }}">Create an account</a></li>
                                                    <li><a href="{{ path("prospection_customers") }}">My customers</a></li>
                                                </ul>
                                                {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main">

        {% block header %}
        {% endblock header %}

        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-ribbon">
                        <span>Get in Touch</span>
                    </div>
                    {#
                    <div class="col-md-4">

                        <div class="newsletter">
                            <h4>Newsletter</h4>
                            <p>Keep up with our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

                            <div class="alert alert-success hidden" id="newsletterSuccess">
                                <strong>Success!</strong> You've been added to our email list.
                            </div>

                            <div class="alert alert-danger hidden" id="newsletterError"></div>
                            <br /><br />
                            <form id="newsletterForm" action="/newsletter" method="POST"
                                  novalidate="novalidate">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Email Address" name="newsletterEmail"
                                           id="newsletterEmail" type="text">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">Go!</button>
										</span>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="col-md-5">

                    </div>
                     #}
                    <div class="col-md-3">
                        <h4>Share Us</h4>
                        <ul class="social-icons">

                            <script type="IN/Share" data-url="http://www.testmyskills.io" data-counter="top"></script>
                        </ul>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a
                                                href="mailto:sales@testmyskills.io">sales@testmyskills.io</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="index.html" class="logo">
                                <img alt="Logo" class="/img-responsive" src="/img/logo.png" width="30px">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>© Copyright 2016. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="/aboutus">About us</a></li>
                                    <li><a href="/faq">FAQ's</a></li>
                                    <li><a href="/terms-of-use">Terms of use</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <!-- Head Libs -->
    <script src="/vendor/modernizr/modernizr.min.js"></script>

    <!-- Vendor -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/common/common.min.js"></script>
    <script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="/vendor/jquery.stellar/jquery.stellar.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/vide/vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->

    <script src="/js/theme.js"></script>
    <script src="/js/theme.init.js"></script>
    <!-- Current Page Vendor and Views -->
    <script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
    <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/js/views/view.home.js"></script>

    <!-- Theme Custom -->
    <script src="/js/custom.js"></script>
    <script src="/vendor/countdown/countdown.min.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/js/theme.init.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83880544-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        _linkedin_data_partner_id = "24693";
    </script><script type="text/javascript">
        (function(){var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);})();
    </script>
    {% block javascripts_end %}

    {% endblock %}


</body>
</html>