<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}IT-EXAMS.TECH{% endblock %}</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <!-- <link href="http://fonts.googleapis.com//css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text//css"> -->

    <!-- Vendor /css -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme /css -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/theme-blog.css">
    <link rel="stylesheet" href="/css/theme-shop.css">
    <link rel="stylesheet" href="/css/theme-animate.css">
    <link rel="stylesheet" href="/css/ct_styles.min.css">
    <link rel="stylesheet" href="/css/datatables.css">

    <!-- Current Page /css -->
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="/vendor/rs-plugin/css/layers.css" media="screen">
    <link rel="stylesheet" href="/vendor/rs-plugin/css/navigation.css" media="screen">
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen">
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css" media="screen">

    <!-- Skin /css -->
    <link rel="stylesheet" href="/css/skins/default.css">

    <!-- Theme Custom /css -->
    <link rel="stylesheet" href="/css/custom.css">


    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.css">

    {% block cssHeader %}
    {% endblock %}

    <script src="//platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US
        api_key: 77vyujg3e4kg5g
        authorize: false
    </script>
    {% block javascripts_start %}
    {% endblock %}



</head>
<body>
<div class="body">
    <header id="header"
            data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": "30px", "stickySetTop": "-30px", "stickyChangeLogo": true}'>
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="/">
                                {% if customisation and fileExists("../../../web/UploadedFiles/logo/" ~ companyId ~ "/logo.png") %}
                                    <img  style="margin-right:20px;width:100px" src="/UploadedFiles/logo/{{ companyId }}/logo.png" alt="It-exams logo"/>
                                {% else %}
                                    <img src="/img/logo.png" alt="It-exams logo"/>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% if customisation == true %}<h1 style="floatl:left;text-alignr:left;position:relative;top:25px;left:-100px;">{{ customisationData.name }} TESTING CENTER</h1><div class="cleaner">{% endif %}
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main">


        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
        <br /><br />

    </div>



    <!-- Head Libs -->
    <script src="/vendor/modernizr/modernizr.min.js"></script>

    <!-- Vendor -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/common/common.min.js"></script>
    <script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="/vendor/jquery.stellar/jquery.stellar.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/vide/vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->

    <script src="/js/theme.js"></script>
    <script src="/js/theme.init.js"></script>
    <!-- Current Page Vendor and Views -->
    <script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
    <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/js/views/view.home.js"></script>

    <!-- Theme Custom -->
    <script src="/js/custom.js"></script>
    <script src="/vendor/countdown/countdown.min.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/js/theme.init.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83880544-1', 'auto');
        ga('send', 'pageview');

    </script>
    {% block javascripts_end %}

    {% endblock %}


</body>
</html>