{% extends '::admin.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Email</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ path("email_email") }}">Manage email</a><br >
        <a href="{{ path("email_prospects") }}">Manage prospect</a><br >
        <a href="{{ path("email_send") }}">Send a mail</a><br >
    </div>
{% endblock %}