{% extends '::admin.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Email</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block bodyJavascripts %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#emailsTable').DataTable({});
        } );
    </script>
{% endblock %}


{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <a href="{{ path("email_email") }}">Manage email</a><br >
        <a href="{{ path("email_prospects") }}">Manage prospect</a><br >
        <a href="{{ path("email_send") }}">Send a mail</a><br >
        <br />
        <a href="{{ path("email_prospect_add") }}">Add an prospect</a>
        <br />
        <table id="emailsTable" class="table">
            <thead>
            <th>Email</th>
            <th>Last email</th>
            <th>Date</th>
            <th>Action</th>
            </thead>
            <tbody>
            {% for prospect in prospects %}
                <tr>
                    <td>{{ prospect.email }}</td>
                    <td>{{ prospect.lastEmailName }}</td>
                    <td>{{ prospect.lastEmailDate }}</td>
                    <td>
                        <a href="{{ path("email_prospect_history",{prospectId:prospect.id}) }}">History</a><br />
                        <a href="{{ path("email_prospect_update",{prospectId:prospect.id}) }}">Update</a><br />
                        <a href="{{ path("email_prospects",{prospectId:prospect.id, action:"delete"}) }}">Delete</a><br />
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}