{% extends '::admin.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Email</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">


        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <a href="{{ path("email_email") }}">Manage email</a><br >
        <a href="{{ path("email_prospects") }}">Manage prospect</a><br >
        <a href="{{ path("email_send") }}">Send a mail</a><br >
        <br /><br />
        <form action="{{ path("email_send") }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" class="fright btn btn-primary" value="Send" />
        </form>
    </div>
{% endblock %}


{% block bodyJavascripts%}
    <script>
        $(document).ready(function() {
            $('select').select2();


            $('#Send_emailId').change(function() {
                $.getJSON( "/admin/email/getMailContent/"+$('#Send_emailId').val(), function( data ) {
                    $("#Send_emailContent").val(data.content);
                });
            });
        });
    </script>
{% endblock %}