{% extends '::admin.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Email</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block bodyJavascripts %}
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addAnswerLink = $('<br /><br /><a href="#" class="add_answer_link"><i class="fa fa-star"> Add a tag</a>');
        var $newLinkLi = $('<li></li>').append($addAnswerLink);

        $(document).ready(function() {
            $('.tags').children('li').each(function(i)
            {
                $(this).append('<div  class="btn btn-danger delete-question">Delete</div>');
            });
        })

        $('form').on('click', '.delete-question', function()
        {
            $(this).parent().remove();//remove element
            //optionally submit department form via AJAX call to persist the delete
            return false;//stop event
        });

        function addAnswerForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            newForm+='<div  class="btn btn-danger delete-question">Delete</div>';
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAnswerLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAnswerForm($collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">


        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <a href="{{ path("email_email") }}">Manage email</a><br >
        <a href="{{ path("email_prospects") }}">Manage prospect</a><br >
        <a href="{{ path("email_send") }}">Send a mail</a><br >
        <br /><br />
        <form action="{{ path("email_prospect_update",{prospectId: prospectId}) }}" method="post">
            {{ form_row(form.email) }}
            <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for tag in form.tags %}
                    <li>{{ form_row(tag) }}</li>
                {% endfor %}

            </ul>
            {{ form_widget(form._token) }}
            <input type="submit" class="fright btn btn-primary" value="Save" />
        </form>
    </div>
{% endblock %}