{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
IT-EXAMS.TECH - Verify your email address
{% endblock title %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Register</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Verify your email</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}


{% block fos_user_content %}
    <div class="container">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock fos_user_content %}
