{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}IT-EXAMS.TECH - Your account has been activated{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Register</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Your account has been activated</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

        <p><a href="{{ path("testmyskills_dashboard")}}">{{ 'registration.back'|trans }}</a></p>
    </div>
{% endblock fos_user_content %}
