{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
your credentials for it-exams.
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Welcome in IT-EXAMS {{ user.usernam }}!,

To finish activating your account go on  {{ confirmationUrl}}

Regards,
the Team.

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}

