{% extends "::layout.html.twig" %}
{% form_theme form 'CoreBundle::forms.html.twig' %}
{% block title %}IT-EXAMS.TECH - Register{% endblock %}
{%  block header %}
<section class="page-header ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Register</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Login or ceate an account</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block fos_user_content %}
    <div class="container">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
