
{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    <div class="col-md-12">

        <div class="featured-boxes">
            <div class="row">
                <div class="col-sm-6">
                    <div class="featured-box featured-box-primary align-left mt-xlg" style="height: 327px;">
                        <div class="box-content">
                            <h4 class="heading-primary text-uppercase mb-md">I'm a Returning Customer</h4>
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12"  style="text-align:left">
                                            <label>Username</label>
                                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control input-lg">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12"  style="text-align:left">
                                            <a class="pull-right" href="{{ path('fos_user_resetting_request') }}">(Lost Password?)</a>
                                            <label>Password</label>
                                            <input type="password" id="password" name="_password" required="required" class="form-control input-lg">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="remember-box checkbox">
                                            <label for="rememberme">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on">Remember Me
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-md-6" >
                                        <input type="submit" value="Login" class="btn btn-primary pull-right mb-xl"
                                               data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="featured-box featured-box-primary align-left mt-xlg" style="height: 327px;">
                        <div class="box-content">
                            <h4 class="heading-primary text-uppercase mb-md">Register An Account</h4>
                            <div>
                                {{ form_errors(form) }}
                            </div>

                            <form id="registration_form" action="{{ path('fos_user_registration_register')}}" method="post" style="text-align:left;">
                                {{ form_widget(form) }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Create Account" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}