{% extends "::layout.html.twig" %}


{%  block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Reset password</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Reset your password</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
