{% extends customisation ? '::partners.html.twig' : '::layout.html.twig'%}

{%  block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">your results</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Your results</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts_start %}


    <script type="text/javascript">

        // Handle the successful return from the API call
        function onSuccess(data) {

        }

        // Handle an error response from the API call
        function onError(error) {

        }

        // Use the API call wrapper to share content on LinkedIn
        function postMessage() {

            // Build the JSON payload containing the content to be shared
            var payload = {
                "comment": "I took a test on IT-EXAMS.TECH",
                "content": {
                    "title": "www.it-exams.tech",
                    "description": "I Took {{ test.name }} on IT-EXAMS.TECH. My rank:  {{results.takenTest.rang}} on {{test.takenNumber}} questions in {{ results.takenTest.duration|gmdate }}",
                    "submitted-url": "https://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}",
                    "submitted-image-url": "http://www.it-exams.tech/img/logo.png"
                },
                "visibility": {
                    "code": "anyone"
                }
            };
            IN.API.Raw("/people/~/shares?format=json")
                    .method("POST")
                    .body(JSON.stringify(payload))
                    .result(onSuccess)
                    .error(onError);
        }



        // Use the API call wrapper to share content on LinkedIn
        function shareContentOnLK() {
            IN.User.authorize(postMessage(), {});
        }

    </script>

{% endblock %}


{% block cssHeader %}
    <link rel="stylesheet" href="/bower_components/five-star-rating/css/rating.min.css">
{% endblock %}

{% block javascripts_end %}


    <script>

        $(document).ready(function() {
            $.ajaxSetup({ cache: true });
            $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
                FB.init({
                    appId: '626338267516471',
                    version: 'v2.5' // or v2.0, v2.1, v2.2, v2.3
                });
            });
        });

        function shareContentOnFB()
        {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    FB.ui({
                        method:"share",
                        caption:"HTTP///WWW.IT-EXAMS.TECH",
                        description:'I Took "{{ test.name }}" on IT-EXAMS.TECH. My rank:  {{results.takenTest.rang}}/{{test.takenNumber}} in {{ results.takenTest.duration|gmdate }}',
                        href: 'https://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}',
                    }, function(response){});
                } else {
                    FB.login(function (response) {

                        if (response.status == 'connected') {

                            FB.ui({
                                method: 'share',
                                caption:"HTTP///WWW.IT-EXAMS.TECH",
                                description:'I Took "{{ test.name }}" on IT-EXAMS.TECH. My rank:  {{results.takenTest.rang}}/{{test.takenNumber}} in {{ results.takenTest.duration|gmdate }}',
                                href: 'https://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}',
                            }, function(response){});
                        }
                    });

                }
            });



        }

    </script>

    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));

        function shareContentOnTW() {
            var x = screen.width/2 - 500/2;
            var y = screen.height/2 - 300/2;
            window.open('https://twitter.com/intent/tweet?text=I Take "{{ test.name }}" on IT-EXAMS.TECH. My results:  {{results.takenTest.rang}}/{{test.takenNumber}} in {{ results.takenTest.duration|gmdate }}',"Tweet","menubar=no, status=no, scrollbars=no, menubar=no, width=500, height=300, top="+y+",left="+x);
        }
    </script>

    <script>
    $(document).ready(function() {
        // target element
        var pertincence = document.querySelector('#pertinence');
        var difficulty = document.querySelector('#difficulty');
        var time = document.querySelector('#time');
        // current rating, or initial rating
        var currentRating = 0;
        // max rating, i.e. number of stars you want
        var maxRating= 5;
        // callback to run after setting the rating

        var callback = $("#more_com").click(function(){

            $.ajax({
                url : '/ajax/rate',
                type : 'GET',
                dataType : 'html',
                success : function(code_html, statut){ // success est toujours en place, bien sûr !

                },

                error : function(resultat, statut, erreur){

                }

            });

        });



        var callbackD = function(rating) {
            $.ajax({
                url: "/dashboard/rate/difficulty/{{ test.id }}/"+rating,
                context: document.body
            }).done(function() {
                $( this ).addClass( "done" );
            });

        };

        var callbackT = function(rating) {
            $.ajax({
                url: "/dashboard/rate/time/{{ test.id }}/"+rating,
                context: document.body
            }).done(function() {
                $( this ).addClass( "done" );
            });

        };

        var callbackP= function(rating) {
            $.ajax({
                url: "/dashboard/rate/pertinence/{{ test.id }}/"+rating,
                context: document.body
            }).done(function() {
                $( this ).addClass( "done" );
            });

        };

        // rating instance
        rating(pertincence, currentRating, maxRating, callbackP);
        rating(difficulty, currentRating, maxRating, callbackD);
        rating(time, currentRating, maxRating, callbackT);


        $('#rateModal').modal('show');
    });
    </script>
    <script src="/bower_components/five-star-rating/js/dist/rating.min.js"></script>
{% endblock %}


{% block content %}
    <div class="container textcenter">
        <h1>{{ results.takenTest.testName }}</h1>
        <h3>{{ test.name }}</h3>
        <hr />
        <h4>Test results: {{ results.takenTest.result }} / {{ results.takenTest.questions|length }}</h4>
        <br /><br />
        <table class="table textcenter" style="width:50%" align="center">
            <tr>
                <td style="width:50%">Category name</td>
                <td style="width:50%">Results</td>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.percent}}%</td>
                </tr>
            {%  endfor %}
        </table>
        <br />
        <h6>Time : {{ results.takenTest.duration|gmdate }}</h6>
        <h6>Rank : {{results.takenTest.rang}}/{{test.takenNumber}}</h6>

        <h6>User has <strong>{% if results.takenTest.result >= results.test.numberOfQuestions/2  %}pass {% else %} fail {% endif %}</strong> the test and is better than <strong>{{ results.takenTest.sitePercentage }}%</strong> of others users.</h6>
        <br/>
        {% if not customisation  %}
            <a href="{{ path("testmyskills_dashboard") }}">Return to your dashboard</a>
        {% endif %}
    </div>


    <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="defaultModalLabel">What do you think about this test ? </h4>
                </div>
                <div class="modal-body textcenter">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Rate this test</h4>
                            <h6>Difficulty : <div id="difficulty"></div></h6>
                            <h6>Pertinence : <div id="pertinence"></div></h6>
                            <h6>Time :<div id="time"></div></h6>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textcenter">Share your results on Linkedin</h5>
                                    <button onclick="shareContentOnLK()" class="btn btn-primary">Post your results on Linkedin</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br />
                                    <h5 class="textcenter">Share your results  on FaceBook</h5>
                                    <button onclick="shareContentOnFB()" class="btn btn-primary">Post your results on Facebook</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br />
                                    <h5 class="textcenter">Share your results  on Twitter</h5>
                                    <button onclick="shareContentOnTW()" class="twitter-share-button btn btn-primary">Post your results on Twitter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}