{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">take a test</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Take a test</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        {% if viewTest != true %}
            <h3>Choose your technologie</h3>

            <div class="featured-boxes">
                <div class="row">
                    <a href="{{ path("testmyskills_dashboard_test_new_choose_test",{"slug":"personal"}) }}">
                        <div class="col-md-2 col-sm-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg">
                                <div class="box-content textcenter no-margin no-padding">
                                    <img style="padding-top:30px;"
                                         src="/img/logo.png"
                                         width="50px"/>

                                    <h4 class="no-margin text-uppercase">Your personal tests</h4>
                                    <div>{{ number_tests['personal'] }} test(s)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <hr/>
                <div class="row technologies">
                    {% for category,categoryTechnologies in technologies %}
                        <hr/>
                        <div class="row">
                            <h3>{{ category|upper }} {% if category == "others" %}{% endif %}</h3>
                            {% for  technology in categoryTechnologies %}
                                {% if number_tests[technology.slug] !=0 %}
                                    <a href="{{ path("testmyskills_tests",{"technologySlug":technology.slug}) }}">
                                {% endif %}
                                <div class="col-md-2 col-sm-6 {% if number_tests[technology.slug] ==0 %} others {% endif %}">
                                    <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg">
                                        <div class="box-content textcenter no-margin">
                                            <img style="padding-top:10px;margin-bottom:20px;height:50px" src="/img/tests-logos/{{ technology.slug }}.png" alt="Logo {{ technology.slug }}"/>
                                            <h4 class="no-margin text-uppercase">{{ technology.name }}</h4>
                                        </div>
                                        <div>{{ number_tests[technology.slug] }} test(s)</div>
                                    </div>
                                </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h1>Choose a test</h1>

            <div class="featured-boxes">
                <div class="row">

                    {% for test in tests %}
                        <a href="{{ path("testmyskills_dashboard_new_step1",{"testSlug":test.nameSlugued}) }}">
                            <div class="col-md-2 col-sm-6">
                                <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg test-div">
                                    {% if test.basic == true %}
                                        <div class="plan-ribbon">Basic</div>
                                    {% endif %}
                                    <div class="box-content textcenter no-margin">


                                            {% if test.userId != null %}
                                                <img  style="padding-top:10px;margin-bottom:20px;" src="/img/logo.png" alt="Logo"/>
                                            {% endif %}

                                        <h4 class="no-margin text-uppercase">{{ test.name }}</h4>
                                    </div>

                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}