{% extends customisation ? '::partners.html.twig' : '::layout.html.twig'%}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li class="active">Instruction</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Instruction of {{ test.name }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Instruction</h1>
        <pre>{{ instruction }}</pre>
        <form action="{{ path("testmyskills_dashboard_starttest",{testSlug:test.nameSlugued}) }}" method="post">
            {% if noInputName != "true" %}
                <label for="name" class="col-md-2">Name of this test :</label>
                <input type="text" name="name" placeholder="Session name - Candidate name" class="col-md-5"/>
            {% endif %}
            <br /><br />
            <button type="submit" class="fright btn btn-primary">Start the test {{ test.name }}</button>
        </form>
        </div>
    </div>
{%  endblock %}