{% extends noLayout ? '::empty.html.twig' : '::layout.html.twig'%}


{% if noLayout == false   %}
    {%  block header %}
        <section class="page-header ng-scope">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="">Dashboard</a></li>
                            <li class="active">Detailed test results</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Detailed test results</h1>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endif %}

{% block content %}
    <div class="container textcenter">
        <h1>{{ results.takenTest.testName }}</h1>
        <h3>{{ test.name }}</h3>
        <hr />
        <h4>Test results: {{ results.takenTest.result }} / {{ results.takenTest.questions|length }}</h4>
        <br /><br />
        <table class="table textcenter" style="width:50%" align="center">
            <tr>
                <td style="width:50%">Category name</td>
                <td style="width:50%">Results</td>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.percent}}%</td>
                </tr>
            {%  endfor %}
        </table>
        <br />

        <h6>Time : {{ results.takenTest.duration|gmdate }}</h6>
        <h6>Rank : {{results.takenTest.rang}}/{{test.takenNumber}}</h6>
        <h6>User has <strong>{% if results.takenTest.result >= results.test.numberOfQuestions/2  %}passed {% else %} failed {% endif %}</strong> the test and performed better than <strong>{{ results.takenTest.sitePercentage }}%</strong> of others users.</h6>
        <br/>
        {% if noLayout != true %}
            <a href="{{ path("testmyskills_dashboard") }}">Return to your dashboard</a>
        {% endif %}
    </div>
{%  endblock %}