{% extends '::layout.html.twig' %}


{% block javascripts_end %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#userTests').DataTable({});
        } );
    </script>
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li>Dashboard</li>
                        <li class="active">Tests</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Tests</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Your last tests</h1>
        <table id="userTests" style="width:100%;margin:0 auto;">
            <thead>
                <tr>
                <th>Date</th>
                <th>Test</th>
                <th>Name</th>
                <th>Results</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr>
                    <td>
                        {% if test.date |date("Y-m-d h:i:s") == "1970-01-01 01:00:00" %}
                            Not started
                        {% else %}
                            {{ test.date |date("Y-m-d h:i:s") }}
                        {% endif %}
                    </td>
                    <td>{{ test.test.name }}</td>
                    <td>{{ test.testName }}</td>
                    <td>
                        {% if test.questions|length > 0  %}
                            {% if test.result =="" and test.result !="0" %} Test not terminated{% else %}{{ test.result }} / {{ test.test.numberOfQuestions }}{% endif %}
                        {%  else %}
                            n/a
                        {% endif %}
                    </td>
                    <td>
                        {% if test.result !="" or test.result =="0" %}
                            <a href="{{ path('testmyskills_dashboard_test_results', {'takenTestId': test.id})}}">details</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}