{% extends customisation ? '::partners.html.twig' : '::layout.html.twig'%}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li
                        <a href="{{ path("testmyskills_dashboard_new_step1",{testSlug:test.nameSlugued}) }}">take a test</a></li>
                        <li class="active">{{ test.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Take a test</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="timer" class="fright"></div>
        <h1>Question</h1>
<pre>
{{ questionData.question|escape|replace({'!#': "<", '#!': ">"})|raw }}
</pre>
        <h1>Answers</h1>

        <form action="{{ path("testmyskills_dashboard_taketest",{testSlug:test.nameSlugued}) }}" method="post">
            {% for answer in questionData.answers %}
<pre>
<input type="checkbox" name="answers[{{ loop.index - 1 }}]" style="margin-right:10px"><br />
{{ answer.response|escape|replace({'!#': "<", '#!': ">"})|raw }}
</pre>
            {% endfor %}
            <button type="submit" class="fright btn btn-primary">Next</button>
        </form>

    </div>
{% endblock %}


{% block javascripts_end %}
    <script>
        $(document).ready(function() {
            var countdown = new Countdown({
                        selector: '#timer',
                        msgPattern: "Time left : {hours} hours, {minutes} minutes, {seconds} seconds",
                        dateStart: new Date({{ dateStart }}*1000),
                    dateEnd: new Date({{ dateEnd }}*1000)
        });

            $('#timer').on('countdownEnd', function() {
                document.location.href = "{{ path("testmyskills_dashboard_test_end",{testSlug:test.nameSlugued}) }}"
            });
        })
    </script>
{% endblock %}