.fos_user_registration_register {
  width: 40%;
  margin: 0 auto;
}
.fos_user_registration_register label,
.fos_user_registration_register input {
  width: 200px;
  display: inline-block;
  margin: 10px;
}
.fos_user_registration_register #fos_user_registration_form div:nth-child(2) {
  text-align: left;
  margin-top: 0px;
}
.fos_user_registration_register div:nth-child(2) {
  text-align: center;
  margin-top: 20px;
}
.fos_user_registration_register input[type="submit"] {
  width: 200px;
  margin: 0 auto!important;
  background-color: #0088cc;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
#fos_login {
  width: 40%;
  margin: 0 auto;
}
#fos_login label,
#fos_login input {
  width: 200px;
  display: inline-block;
  margin: 10px;
}
#fos_login input[type="submit"] {
  width: 200px;
  float: right;
  margin: 0 auto!important;
  background-color: #0088cc;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
html.admin #header .header-body {
  position: static!important;
}
.maxsize {
  width: 100%;
}
table td {
  vertical-align: top;
}
ul.answers {
  padding-left: 0px;
}
form[name="question"] textarea[name="question[question]"] {
  width: 100%;
  height: 500px;
}
form[name="question"] textarea[name="question[explanation]"] {
  width: 100%;
  height: 300px;
}
#formInvite {
  width: 45%;
  margin: 0 auto;
}
#formInvite label,
#formInvite input {
  width: 100%;
  display: inline-block;
  margin: 10px;
}
#formInvite .select2 {
  width: 100%!important;
}
#formInvite span.select2 {
  margin-left: 10px;
}
#formInvite input[type="submit"] {
  width: 30%!important;
  float: right;
  margin-right: 20px!important;
  background-color: #0088cc;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.textcenter {
  text-align: center;
}
.fright {
  float: right;
}
.cleaner {
  clear: both;
  display: table;
  width: 1px;
}
.no-margin {
  margin: 0px!important;
  margin-left: 0px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  margin-right: 0px!important;
}
.no-padding {
  padding: 0px!important;
  padding-left: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  padding-right: 0px!important;
}
.normal {
  font-size: 1em!important;
}
table tr:first-child td {
  font-weight: bold;
}
table tr {
  border-bottom: 1px solid #dedede;
}
table td {
  padding: 5px;
}
.activated {
  background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: linear-gradient(to bottom, #bfdc7a, #8ebf45);
  background-color: #bfdc7a;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  left: -5px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  top: 15px;
  width: 120px;
}
.not-activated {
  background-image: -webkit-linear-gradient(top, #ead08a, #d7a419);
  background-image: linear-gradient(to bottom, #ead08a, #d7a419);
  background-color: #bfdc7a;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  left: -5px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  top: 15px;
  width: 120px;
}
