/* Add here all your CSS customizations */

.form-table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-spacing: 10px;
    border-collapse: separate;
}

.form-table td p {
    font-size: 20px;
}

.textright {
    text-align: right;
}

#registration_form input[type="text"], #registration_form input[type="password"], #createTest input, #createTest select, .formbig input, .formbig select {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

#createTest textarea, .formbig textarea {
    width: 100%;
    height: 200px !important;
}

.sections .others {
    opacity: 0.5;
}

.ace_text-input {
. ace_text-inputheight: 1000 px;
}

.fleft {
    float: left;
}

.cleaner {
    clear: both;
    display: table;
    width: 1px;
    height: 1px;
    display: none;
}

.select2-selection {
    height: 40px !important;
}

ul.questions, ul.answers, ul.tags {
    list-style: none;
    list-style-type: none;
}

.add_answer_link {
    background-color: #0088cc;
    color: white !important;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.add_answer_link:hover

;
.add_answer_link:visited, .add_answer_link:active, .add_answer_link:focus, .add_answer_link:link {
    background-color: #0088cc;
    color: white !important;
}

label.section {
    font-size: 2em;
}

label, html .toggle-primary .toggle label {
    font-size: 1.15em;
    color: #777;
}

.add_answer_link:hover {
    color: white;
}

.bootstrap-tagsinput input {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border: 1px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

ul label.control-label {
    display: none;
}

form li {
    border-top: 1px solid #eee;
    padding: 20px;
}

.modal-header {
    background-color: #171717;
    color: white;
}

.modal-header h4 {
    color: white;
}

li.c-rating__item {
    width: 25px;
    display: inline-block;
}

ul.nav-tabs li {
    padding: 0px important;
}

ul.nav-tabs.green li {
    padding: 0px !important;
}

.btn-primary  {
    padding: 10px !important;
    background-color: hsl(201, 100%, 30%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
    background-image: -moz-linear-gradient(top, #00a5ff, #006399);
    background-image: -ms-linear-gradient(top, #00a5ff, #006399);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
    background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
    background-image: -o-linear-gradient(top, #00a5ff, #006399);
    background-image: linear-gradient(#00a5ff, #006399);
    border-color: #006399 #006399 hsl(201, 100%, 25%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
    color: white !important;
    border: 1px solid black !important;
    border-radius: 5px;
    margin: 0.5px !important;
    width: 200px;
    text-align: center;
}

ul.nav-tabs.white li a {
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
    background-image: linear-gradient(#134134134, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
}

ul.nav-tabs.black li a {
    background-color: hsl(0, 0%, 16%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
    background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
    background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
    background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
    background-image: -o-linear-gradient(top, #5b5b5b, #282828);
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.p20 {
    padding: 20px;
}

.border-out {
    border: 1px dotted grey;
}

#chartdiv {
    width: 70%;
    margin: 0 auto;
    font-size: 11px;
}

.textwhite, .textwhite:hover {
    color: white;
    text-decoration: underline
}

.plan-container a:hover {
    text-decoration: none;
}

.featured-box .box-content {
    text-align: center;
    padding: 0px 5px;
    margin: 0px;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.home-container {

}

.modal .nav li a {
    background-color: white;
    color: #0088cc;
    font-size: 15px;
    border-top-right-radius: 5px;
    borer-top-left-radius: 5x;
}

.modal .nav li.active a {
    background-color: white;
    color: #0088cc;
    font-size: 15px;
    border-top-right-radius: 5px;
    borer-top-left-radius: 5x;
}

.em2 {
    font-size: 3em !important;
    border-radius: 10px;
    line-height: 60px;
}

.btn {
    background-color: hsl(201, 100%, 30%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
    background-image: -moz-linear-gradient(top, #00a5ff, #006399);
    background-image: -ms-linear-gradient(top, #00a5ff, #006399);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
    background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
    background-image: -o-linear-gradient(top, #00a5ff, #006399);
    background-image: linear-gradient(#00a5ff, #006399);
    border-color: #006399 #006399 hsl(201, 100%, 25%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}