#address-window p {
    width:49%;
    display:inline-block;
}

p.receiver {
    text-align:right;
}

table {
    width:100%;
}

th {
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    padding;10px;
}


td:first-child {
    text-align:left;
}

tr.foot td:first-child {
    text-align:right
}
td {
    padding:10px;
    text-align:center;
}