header,footer,.page-header,.no-print {
    display:none;
}

.col-md-4 {
    width:32%;
    display:inline-block;
}
.col-md-12 {
    width:100%;
    display:inline-block;
}
#chartdiv {
    width		: 500px;
    margin: 0px;
    font-size	: 11px;
}