{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="row">
        <div class="col-md-6">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="input-lg form-control" type="text" id="username" name="username" required="required" />
            <br />
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>
