{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Take IT tests online | About us
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li></li>
                        <li class="active">About us</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h4>About us</h4>
        <p>
        IT-EXAMS.tech is a site which provides professional IT tests.
        We strive to produce quality questions , as well an intuitive interface.
        <br />
        <a href="/register">Register and start a test.</a>
        </p>

        The website owner is Nicolas Blaudez 1TER rue de laxou 54000 NANCY , FRANCE, which is registered on the<br />
        Nancy Trade and Companies Register under SIRET number 479 090 433<br />
        Publishing director: Nicolas Blaudez<br />
        CNIL registration number: 1641409<br />
        The site www.it-exams.tech was created by Nicolas Blaudez.<br />
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>Payment service</h4>
                BLUEPAID INVEST<br />
                75 BD HAUSSMANN<br />
                75008 PARIS<br />
                France<br />
                http://www.bluepaid.fr/
            </div>
            <div class="col-md-6">
                <h4>Hosting service</h4>
                ONLINE SAS<br />
                BP 438 <br />
                75366 PARIS CEDEX 08<br />
                http://www.online.fr/
            </div>
        </div>
        <hr />
        The text, graphics and other contents of this site are the property of website owner and are protected by copyright laws. The use or reproduction, even partial of the text, photos or graphs it contains are formally prohibited without previous written approval from the website owner or from its subsidiaries. Infringement is considered illicit copying. The following are also considered as infringements: any reproduction, adaptation, translation or change in the content of the site as well as any transfer of the content to another site.

    </div>
{% endblock %}

{% block javascripts_end %}
    <script>
    $(document).ready(function() {
        $('.select2').select2();
    });
    </script>
{% endblock %}