{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Take IT tests online | {{ exercice.name }}
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Exercices informations</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Exercices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Details for exercice {{ exercice.name }}</h1>
        <div class="row">
            <div class="col-md-8">
                {{ exercice.content|raw }}
            </div>
            <div class="col-md-4">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-cube"></i>
                                    Description
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="panel-body">
                                {% if exercice.activated == true %}
                                    {{ exercice.description|capitalize }}
                                    <br/><br/>
                                    Number of question : {{ exercice.numberQuestions }}<br/>
                                    Time : {{ exercice.time }} minutes</br>
                                    <br/>
                                    {% if app.user %}
                                        <div class="textcenter">
                                            <a href="{{ path("testmyskills_dashboard_new_step1_exercice",{exerciceSlug:exercice.nameSlugued}) }}">
                                                <button class="btn btn-primary">Take it !</button>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    This test is not actif at this time.
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-signal"></i>
                                    Informations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="panel-body">
                            -{% if exercice.activated == true %}
                                Number of taken tests : {{ exercice.takenNumber }}<br />
                                <br />

                            </div>
                            {% else %}
                                This test is not actif at this time.
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
