{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Take IT tests online | Our exercices
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Exercices information</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Exercices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Our exercices</h1>
        {% for exercice in exercices %}

            <div class="row">
                <a href="{{ path("testmyskills_exercices_details",{"slug": exercice.nameSlugued}) }}">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg"
                             style="height: 256px;">
                            <div class="box-content textcenter no-margin no-padding">
                                <div style="padding-top:30px;height:150px;"><img width="100px"
                                                                                 src="/img/logo.png"
                                                                                 width="100px"/>
                                </div>
                                <h4 class="no-margin text-uppercase">{{ exercice.name }}</h4>
                                <br/>
                                <div>{{ exercice.questions|length }} question(s)</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
