{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Take IT tests online | Our FAQ
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">FAQ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>FAQ</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="toggle toggle-primary" data-plugin-toggle="" data-plugin-options="{ &quot;isAccordion&quot;: true }">
                <section class="toggle active">
                    <label>What is IT-EXAMS.TECH?</label>
                    <div class="toggle-content" style="display: block;">
                        <p>IT-EXAMS.TECH is a web platform which provides IT Quizzes. It can be useful for recruiting companies which need to tests their candidates or for a geek who needs to know his level before a certification.</p>
                    </div>
                </section>
                <section class="toggle">
                    <label>I read I can invite a user. How do I do it? </label>
                    <div class="toggle-content">
                        <p>To invite a user click on the "Dashboard" section of the menu and then go to "Test" section. Click "Invite a user to take a test". Then fill the form and validate. A mail will be sent to the user and he will be able to take the test. The results of the test will appears on your dashboard and on the user’s dashboard
                        </p>
                    </div>
                </section>
                <section class="toggle">
                    <label>Do you have a tool to compare user’s results? </label>
                    <div class="toggle-content">
                        <p>Yes, a graphic user’s skills permits one to compare one or more users on one or more technologies.</p>
                    </div>
                </section>
                <section class="toggle">
                    <label>Will you make a refund money if I don't use my credits? </label>
                    <div class="toggle-content">
                        <p>No. Your credits have no limit/they don’t expire, so you will be able to use them one day.</p>
                    </div>
                </section>
                <section class="toggle">
                    <label>I see I can create my own tests. How do I do it? </label>
                    <div class="toggle-content">
                        <p>To create a test, click on the "Dashboard" link in the menu and then go to "Tests" section. You then have "Manage your test" link which permits you to create new tests. At first, you need to create the test, then you need to create categories and finally you can add the questions.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}