{% extends '::layout.html.twig' %}

{% block title %}
IT-EXAMS - Take IT tests online | Our features
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Features</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Features</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3>Take a <strong>test online</strong></h3>
                <p class="mt-xlg">Our platform allows you to take skills tests online. You just need to choose a test in our selection and start it. The results will be displayed based on your average success category by category.</p>

                <ul class="portfolio-details">
                    <li>
                        <p><strong>Technologies:</strong></p>

                        <ul class="list list-inline list-icons">
                            {% for sector in sectors %}
                                <li><i class="fa fa-check-circle"></i> {{ techno.name}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p><strong>Screenshots:</strong></p>
                    </li>
                </ul>
                <div class="lightbox mb-lg" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/chooseTechno.png" title="Choose a sector">
                        <img class="img-responsive" src="/img/screenshot/chooseTechno.png" width="110" height="110" alt="Choose a sector">
                    </a>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/giveName-Big.png" title="Give a name to a test">
                        <img class="img-responsive" src="/img/screenshot/giveName.png" width="110" height="110" alt="Give a name to a test">
                    </a>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/question.png" title="Question">
                        <img class="img-responsive" src="/img/screenshot/question.png" width="110" height="110" alt="Question">
                    </a>
                </div>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3>Invite a candidate to take a <strong>test or an exercise online</strong></h3>
                <p class="mt-xlg">
                    <p>Our interface permits you to invite a candidate to take a test.<br />
                    You need to fill a form with your user information and an e-mail will be sent to the user with a link to start the test online.<br />
                    The results will be displayed in your dashboard and in the dashboard of the user.<br />
                    </p>
                </p>
                <p><strong>Screenshots:</strong></p>
                <div class="lightbox mb-lg" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/invite.png" title="Invite an user to take a test">
                        <img class="img-responsive" src="/img/screenshot/invite.png" width="110" height="110" alt="Invite an user to take a test">
                    </a>

                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3>VISUALIZE CANDIDATES RESULTS ON <strong>YOUR DASHBOARD</strong></h3>
                <p class="mt-xlg">
                    <p>Our dashboard permits you to retrieve a user’s results.<br />
                    Using the graphic skills permits you to compare all users quickly.<br />
                    A page with the synthesis of user tests is available and it permits you to know the level of any user at anytime.<br />
                    </p>
                <p><strong>Screenshots:</strong></p>
                <div class="lightbox mb-lg" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/userResults.png" title="User results">
                        <img class="img-responsive" src="/img/screenshot/userResults.png" width="110" height="110" alt="User results">
                    </a>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/userGraph.png" title="User graphic">
                        <img class="img-responsive" src="/img/screenshot/userGraph.png" width="110" height="110" alt="Users graphic">
                    </a>
                    <a class="img-thumbnail mb-xs mr-xs" href="/img/screenshot/dashboard.png" title="Dashboard">
                        <img class="img-responsive" src="/img/screenshot/dashboard.png" width="110" height="110" alt="Dashboard">
                    </a>
                </div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}