{% extends '::layout.html.twig' %}

{% block header %}

{% endblock header %}

{% block title %}
    Test My Skills - Take tests online | Evaluate your knowledge or your candidates
{% endblock %}

{% block content %}

    <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"gridwidth": 1170, "gridheight": 500}'>
            <ul>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption"
                         data-x="177"
                         data-y="180"
                         data-start="1000"
                         data-transform_in="x:[-300%];opacity:0;s:500;"><img src="img/slides/slide-title-border.png" alt=""></div>

                    <div class="tp-caption top-label"
                         data-x="227"
                         data-y="180"
                         data-start="500"
                         data-transform_in="y:[-300%];opacity:0;s:500;">Test your candidates
                    </div>

                    <div class="tp-caption"
                         data-x="480"
                         data-y="180"
                         data-start="1000"
                         data-transform_in="x:[300%];opacity:0;s:500;"><img src="img/slides/slide-title-border.png" alt=""></div>

                    <div class="tp-caption main-label"
                         data-x="200"
                         data-y="210"
                         data-start="1500"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">ONLINE
                    </div>

                    <div class="tp-caption bottom-label"
                         data-x="185"
                         data-y="280"
                         data-start="2000"
                         data-transform_in="y:[100%];opacity:0;s:500;">or your knowledge with our exams.
                    </div>

                    <div class="tp-caption"
                         data-x="910"
                         data-y="248"
                         data-start="2500"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;"><img src="img/slides/slide-concept-2-1.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="960"
                         data-y="200"
                         data-start="3500"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-2.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="930"
                         data-y="170"
                         data-start="3650"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-3.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="880"
                         data-y="130"
                         data-start="3750"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-4.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="610"
                         data-y="80"
                         data-start="3950"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-5.png" alt=""></div>

                    <div class="tp-caption blackboard-text"
                         data-x="640"
                         data-y="300"
                         data-start="3950"
                         style="font-size: 37px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">Think
                    </div>

                    <div class="tp-caption blackboard-text"
                         data-x="665"
                         data-y="350"
                         data-start="4150"
                         style="font-size: 47px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">Outside
                    </div>

                    <div class="tp-caption blackboard-text"
                         data-x="690"
                         data-y="400"
                         data-start="4350"
                         style="font-size: 32px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">The box :]
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg" data-no-retina>

                    <div class="tp-caption top-label"
                         data-x="155"
                         data-y="100"
                         data-start="500"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"><img src="img/slides/slide-concept.png" alt=""></div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="180"
                         data-start="1000"
                         style="font-size: 30px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">easy to
                    </div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="220"
                         data-start="1200"
                         style="font-size: 40px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">customize!
                    </div>

                    <div class="tp-caption main-label"
                         data-x="685"
                         data-y="190"
                         data-start="1800"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">Create your tests!
                    </div>

                    <div class="tp-caption bottom-label"
                         data-x="685"
                         data-y="250"
                         data-start="2000"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05">Create your own tests or use ours
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div class="home-intro" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        <em>testmyskills.com</em> the skills tests place.
                        <span>Check out our options and features included.</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="get-started">
                        <a href="/register" class="btn btn-lg btn-primary">Get Started Now!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <div class="container">
        <br/><br/>

        <div class="col-md-12">
            <h1>TAKE OR CREATE AN <strong> TEST ONLINE !</strong></h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Invite a candidate to take a test online</h4>

                            <p class="tall">Enter the e-mail of a candidate and he will be able to take a test or an exercise.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Browse trought our tests databases</h4>

                            <p class="tall">you can take all tests present on the web site. <strong>member tests are free.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-google-plus"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">View </h4>

                            <p class="tall">Access to more than 41 tests, 23 technologies and 2,500 different questions</p>
                            <br/>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-adjust"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Dashboard</h4>

                            <p class="tall">The dashboard gives you results and keeps a history of all tests taken</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 textcenter">
                <a class="btn btn-large btn-primary em2" href="{{ path('testmyskills_sectors') }}">Take a  test</a>
            </div>
            <div class="col-sm-6 textcenter">
                <a class="btn btn-large btn-primary em2" href="{{ path('testmyskills_manage_test_add') }}" >Create your own test</a>
            </div>
        </div>
    </div>



    <div class="home-concept">
        <div class="container">
            <div class="row center">
                <span class="sun"></span>
                <span class="cloud" style="top: 40.2px;"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn">
                        <img src="/img/recruiting.jpg" alt="Recruiting">
                        <strong>Recruitment</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <img src="/img/interview.png" alt="Interview">
                        <strong>Interview</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                        <img src="/img/logo-145.png" alt="">
                        <strong>Technical test</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div id="" class="fc-slideshow">
                            <ul class="">
                                <li><a href="portfolio-single-project.html"><img class="img-responsive" src="/img/end.png" alt=""></a></li>
                            </ul>
                        </div>
                        <strong class="our-work">Our Work</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section section-primary mb-none">
        <div class="container-fluid">
            <div class="row">
                <div class="counters counters-text-light">
                    <div class="col-md-4 col-sm-6">
                        <div class="counter">
                            <strong data-to="23">23</strong>
                            <label>Sectors</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="counter">
                            <strong data-to="41">41</strong>
                            <label>Tests</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="counter">
                            <strong data-to="2500" data-append="+">2500</strong>
                            <label>Questions</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section section-custom-map">
        <section class="section section-default section-footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="recent-posts mb-xl col-md-10">
                                <h2>Latest <strong>News</strong></h2>
                                <div class="row">

                                    <div class="col-md-12">
                                        <article>
                                            <div class="date">
                                                <span class="day">1</span>
                                                <span class="month">07</span>
                                            </div>
                                            <h4 class="heading-primary">Start of TestMySkills.io</h4>
                                            <p>Start of the TestMySkills platform. We opened with 41 tests, 23 sectors and more than 2500 questions. </p>
                                        </article>
                                    </div>


                                </div>
                                <div class="col-md-12"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><strong>What</strong> Client’s Say</h2>
                        <div class="row">
                            <div class="owl-carousel owl-theme mb-none owl-loaded owl-drag owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1}">


                                <div class="owl-stage-outer">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="testimonial testimonial-primary">
                                                <blockquote>
                                                    <p><a href="{{ path("testmyskills_contact") }}" class="textwhite">Send us</a> feedback and it will appear here..</p>
                                                </blockquote>
                                                <div class="testimonial-arrow-down"></div>
                                                <div class="testimonial-author">
                                                    <div class="testimonial-author-thumbnail img-thumbnail">
                                                        <img src="/img/nico.jpg" alt="">
                                                    </div>
                                                    <p><strong>Nicolas Blaudez</strong><span>CEO &amp; Founder - TestMySkills.io</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}
