{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Take IT tests online | Our Prices
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_prices") }}">Prices</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Our prices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Our prices and plans</h3>
                <p>To take a test you need a plan.<br />All our plans include full access to the website.</p>
            </div>
        </div>
        {{ include('CoreBundle:Dashboard:prices.html.twig')}}


        </div>
    </div>
{% endblock %}