{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Our tests</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Our tests</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block title %}
    IT-EXAMS - Take IT tests online | Our technologies
{% endblock %}
{% block content %}
    <div class="container">
        <div class="tab-content" id="tabs">
            <div>
                <ul class="nav nav-tabs black" role="tablist">
                    {% for section in sections %}
                        <li role="presentation" {% if loop.index == 1 %}class="active"{% endif %}><a href="#section_{{ section.id }}" aria-controls="section_{{ section.id }}" role="tab" data-toggle="tab">{{ section.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content">
                {% for section in sections %}
                    <div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="section_{{ section.id }}">
                        <div class="row sectors">
                            {% for categories in tests %}
                                {% for  categoryName, sectors in categories %}
                                    <a class="btn btn-primary">{{ categoryName }}</a>
                                {% endfor %}
                            {% endfor %}

                            {% for sectionId,categories in tests %}
                                {% if sectionId == section.id %}
                                    {% for  categoryName, sectors in categories %}
                                        <h4>{{ categoryName|upper }}</h4>
                                        <div class="row">
                                            {% for sector in sectors %}
                                                {% if number_tests[sector.slug] !=0 %}
                                                    <a href="{{ path("testmyskills_tests",{"technologySlug":sector.slug}) }}">
                                                {% endif %}
                                                <div class="col-md-2 col-sm-6 {% if number_tests[sector.slug] ==0 %} others {% endif %}">
                                                    <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg">
                                                        <div class="box-content textcenter no-margin">
                                                            <div style="padding-top:10px;margin-bottom:20px;"><img height="50px" src="/img/tests-logos/{{ sector.slug }}.png" alt="Logo {{ sector.slug }}"/></div>
                                                            <h4 class="no-margin text-uppercase" style="height:55px">{{ sector.name }}</h4>
                                                        </div>
                                                        <div><br/>{{ number_tests[sector.slug] }} test(s)</div>
                                                    </div>
                                                </div>
                                                {% if number_tests[sector.slug] !=0 %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabs").tab();
        })
    </script>
{% endblock %}