{% extends '::layout.html.twig' %}

{% block title %}
    IT-EXAMS - Take IT tests online | Term of use
{% endblock %}

{% block javascripts_end %}

{% endblock %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Term of use</li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12"><h1>Term of use</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4>1. ACCEPTANCE OF TERMS OF USE AND AMENDMENTS</h4>
        Each time you use or access this website, you agree to be bound by these Terms of use, as amended from time to time with or without prior notice. In addition, if you are using a particular service on this website or accessed via this website, you will be subject to any rules or guidelines applicable to those services, and they will be incorporated by reference within these Terms of use. Please read the site's Privacy policy, which is incorporated within these Terms of use by reference.
        <br /><br />
        <h4>2. THE SITE EDITOR'S SERVICE</h4>
        This website and the services provided to you on and via this website are provided on an "AS IS" basis. You agree that the site editor reserves the right to modify or discontinue provision of this website and its services, and to remove the data you provide, either temporarily or permanently, at any time, without notice and without any liability towards you, The site editor will not be held responsible or liable for timeliness, removal of information, failure to store information, inaccuracy of information, or improper delivery of information.
        <br /><br />
        <h4>3. YOUR RESPONSIBILITIES AND REGISTRATION OBGLIGATIONS</h4>
        In order to use this website or certain parts of it, you may be required to register for a user account on this website; in this case, you agree to provide truthful information when requested, and -- if a minimum age is required for eligibility for a user account -- you undertake that you are at least the required age. By registering for a user account, you explicitly agree to this site's Terms of use, including any amendments made by the site editor that are published herein.
        <br /><br />
        <h4>4. PRIVACY POLICY</h4>
        Registration data and other personally identifiable information that the site may collect is subject to the terms of the site editor's Privacy policy.
        <br /><br />
        <h4>5. REGISTRATION AND PASSWORD</h4>
        You are responsible for maintaining the confidentiality of your password, and you will be responsible for all usage of your user account and/or user name, whether authorized or not authorized by you. You agree to immediately notify the site editor of any unauthorized use of your user account, user name or password.
        <br /><br />
        <h4>6. YOUR CONDUCT</h4>
        You agree that all information or data of any kind, whether text, software, code, music or sound, photographs or graphics, video or other materials ("content"), made available publicly or privately, will be under the sole responsibility of the person providing the said content, or of the person whose user account is used. You agree that this website may expose you to content that may be objectionable or offensive. The site editor will not be responsible to you in any way for content displayed on this website, nor for any error or omission.

        <br />
        By using this website or any service provided, you explicitly agree that:
        <br />
        (a) you will not provide any content or conduct yourself in any way that may be construed as: unlawful; illegal; threatening; harmful; abusive; harassing; stalking; tortious; defamatory; libelous; vulgar; obscene; offensive; objectionable; pornographic; designed to interfere with or disrupt the operation of this website or any service provided; infected with a virus or other destructive or deleterious programming routine; giving rise to civil or criminal liability; or in violation of an applicable local, national or international law;
        <br />
        (b) you will not impersonate or misrepresent your association with any person or entity; you will not forge or otherwise seek to conceal or misrepresent the origin of any content provided by you;
        <br />
        (c) you will not collect or harvest any information about other users;
        <br />
        (d) you will not provide, and you will not use this website to provide, any content or service in any commercial manner, or in any manner that would involve junk mail, spam, chain letters, pyramid schemes, or any other form of unauthorized advertising or commerce; you will not use this website to promote or operate any service or content without the site editor's prior written consent;
        <br />
        (e) you will not provide any content that may give rise to the site editor being held civilly or criminally liable, or that may be considered a violation of any local, national or international law, including -- but not limited to -- laws relating to copyrights, trademarks, patents, or trade secrets.
        <br /><br />

        <h4>7. SUBMISSION OF CONTENT ON THIS WEBSITE</h4>
        By providing any content to this website:
        (a) you agree to grant the site editor a worldwide, royalty-free, perpetual, non-exclusive right and license (including any moral rights or other necessary rights.) to use, display, reproduce, modify, adapt, publish, distribute, perform, promote, archive, translate, and to create derivative works and compilations, in whole or in part. Such license will apply with respect to any form, media, technology already known at the time of provision or developed subsequently;
        (b) you warrant and represent that you have all legal, moral, and other rights that may be necessary to grant the site editor the license specified in this section 7;
        (c) you acknowledge and agree that the site editor will have the right (but not obligation), at the site editor's entire discretion, to refuse to publish, or to remove, or to block access to any content you provide, at any time and for any reason, with or without notice.
        <br /><br />
        <h4>8. THIRD-PARTY SERVICES</h4>
        Goods and services of third parties may be advertised and/or may be made available on or through this website. Representations made regarding products and services provided by third parties will be governed by the policies and representations made by these third parties. The site editor will not in any manner be liable for or responsible for any of your dealings or interaction with third parties.
        <br /><br />
        <h4>9. INDEMNIFICATION</h4>
        You agree to indemnify and hold harmless the site editor and the site editor's representatives, subsidiaries, affiliates, related parties, officers, directors, employees, agents, independent contractors, advertisers, partners, and co-branders, from any claim or demand, including reasonable legal fees, that may be filed by any third party, arising out of your conduct or connection with this website or service, your provision of content, your violation of these Terms of use, or any other violation by you of the rights of another person or party.
        <br /><br />
        <h4>10.  DISCLAIMER OF WARRANTIES</h4>
        YOU UNDERSTAND AND AGREE THAT YOUR USE OF THIS website AND OF ANY SERVICES OR CONTENT PROVIDED (THE "SERVICE") IS AT YOUR OWN RISK. SERVICES AND CONTENT ARE PROVIDED TO YOU "AS IS", AND THE SITE EDITOR EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
        <br />
        THE SITE EDITOR MAKES NO WARRANTY, EITHER IMPLIED OR EXPRESS, THAT ANY PART OF THE SERVICE WILL BE UNINTERRUPTED, ERROR-FREE, VIRUS-FREE, TIMELY, SECURE, ACCURATE, RELIABLE, OR OF ANY QUALITY, NOR IS IT WARRANTED EITHER IMPLICITLY OR EXPRESSLY THAT ANY CONTENT IS SAFE IN ANY MANNER FOR DOWNLOAD. YOU UNDERSTAND AND AGREE THAT NEITHER THE SITE EDITOR NOR ANY PARTICIPANT IN THE SERVICE PROVIDES PROFESSIONAL ADVICE OF ANY KIND AND THAT ANY ADVICE OR ANY OTHER INFORMATION OBTAINED VIA THIS website MAY BE USED SOLELY AT YOUR OWN RISK, AND THAT THE SITE EDITOR WILL NOT BE HELD LIABLE IN ANY WAY.
        <br />
        Some jurisdictions may not allow disclaimers of implied warranties, and certain statements in the above disclaimer may not apply to you as regards implied warranties; the other terms and conditions remain enforceable notwithstanding.
        <br /><br />
        <h4>11.  LIMITATION OF LIABILITY</h4>
        YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE SITE EDITOR WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES; THIS INCLUDES, BUT IS NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF THE SITE EDITOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM (I) THE USE OF SERVICES OR THE INABILITY TO USE SERVICES, (II) THE COST OF OBTAINING SUBSTITUTE GOODS AND/OR SERVICES RESULTING FROM ANY TRANSACTION ENTERED INTO ON THROUGH SERVICES, (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR DATA TRANSMISSIONS, (IV) STATEMENTS BY ANY THIRD PARTY OR CONDUCT OF ANY THIRD PARTY USING SERVICES, OR (V) ANY OTHER MATTER RELATING TO SERVICES.
        <br /><br />
        <h4>12.  RESERVATION OF RIGHTS</h4>
        In some jurisdictions, it is not permitted to limit liability and, therefore, such limitations may not apply to you.
        <br /><br />
        <h4>13.  NOTIFICATION OF COPYRIGHT INFRIGEMENT</h4>
        The site editor reserves all of the site editor's rights, including but not limited to any and all copyrights, trademarks, patents, trade secrets, and any other proprietary right that the site editor may have in respect of this website, its content, and goods and services that may be provided. The use of the site editor's rights and property requires the site editor's prior written consent. By making services available to you, the site editor is not providing you with any implied or express licenses or rights, and you will have no rights to make any commercial use of this website or provided services without the site editor's prior written consent.
        <br />
        If you believe that your property has been used in any way that could be considered a copyright infringement or a violation of your intellectual property rights, the site editor's copyright agent may be contacted via:
        <br />
        contact@it-exams.tech
        <br /><br />
        <h4>14.  APPLICABLE LAW</h4>
        You agree that these Terms of use and any dispute arising out of your use of this website or products or services provided will be governed by and construed in accordance with local laws applicable at the site editor's domicile, notwithstanding any differences between the said applicable legislation and legislation in force at your location. By registering for a user account on this website, or by using this website and the services it provides, you accept that jurisdiction is granted to the courts having jurisdiction over the site editor's domicile, and that any disputes will be heard by the said courts.
        <br /><br />
        <h4>15.  MISCELLANEOUS INFORMATION</h4>
        (i) In the event that any provision of these Terms of use is deemed to conflict with legislation by a court with jurisdiction over the parties, the said provision will be interpreted to reflect the original intentions of the parties in accordance with applicable law, and the remainder of these Terms of use will remain valid and applicable; (ii) The failure of either party to assert any right under these Terms of use will not be considered to be a waiver of that party's right, and the said right will remain in full force and effect; (iii) You agree that any claim or cause in respect of this website or its services must be filed within one (1) year after such claim or cause arose, or the said claim or cause will be forever barred, without regard to any contrary legislation; (iv) The site editor may assign the site editor's rights and obligations under these Terms of use; in this event, the site editor will be relieved of any further obligation.
        <br /><br />
        <h4>16.  PAYEMENTS</h4>
        IT-EXAMS accepts payment via a valid credit or debit card. Fees paid for subscriptions to the IT-EXAMS products are non-refundable.
        <br /><br />
        <h4>17.  CREDITS</h4>
        IT-EXAMS credits are available when the payment has been received and no expires.
        <br />
   </div>
</div>
{% endblock %}