{% extends '::layout.html.twig' %}

{% block title %}
    IT-EXAMS - Take IT tests online | Test {{ test.name }}  details
{% endblock %}

{% block cssHeader %}
    <link rel="stylesheet" href="/bower_components/five-star-rating/css/rating.css">
{% endblock %}

{% block javascripts_end %}
    <script src="/bower_components/five-star-rating/js/dist/rating.min.js"></script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% if test.takenNumber>0 %}
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart', 'bar']});

       $(document).ready(function() {
            var data = google.visualization.arrayToDataTable([
                ["Success %", "Number of users"],
                {% for result in test.results %}
                ["{{ result.value }}", {{ result.result }}]{% if loop.index < test.results|length %}, {% endif %}
                {% endfor %}
            ]);


           var options = {
               title: "Success average",
               bar: {groupWidth: "95%"},
               legend: { position: "none" },
           };
           var chart = new google.visualization.BarChart(document.getElementById("successChart"));
           chart.draw(data, options);
        });
    </script>
    {% endif %}
{% endblock %}


{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="{{ path("testmyskills_technologies") }}">Technologies</a></li>
                        <li class="active">{{ test.name }}  details</li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ test.name }}  details</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-lg">
            <div class="col-md-8">
                <h3>{{ test.name }}</h3>
                {% if test.activated == true %}
                    <div class="row" style="margin:0px;">
                        <h4>Categories :</h4>
                        <br /><br />
                        {% for category in test.categories %}

                            <div class="feature-box">
                                <div class="feature-box-icon"  style="position:relative;top:-5px;">
                                    <i class="fa fa-cube"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="heading-primary mb-none">{{ category.name }}</h4>
                                    {{ category.numberOfQuestions }} questions
                                </div>
                            </div>
                            <br/>
                        {% endfor %}
                    </div>
                {%  endif %}
            </div>

            <div class="col-md-4">
                <h4>Informations</h4>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-cube"></i>
                                    Description
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="accordion-body">
                            <div class="panel-body">
                                {% if test.activated == true %}
                                    {{ test.description }}
                                    <br/><br/>
                                    Number of question : {{ test.numberOfQuestions }}<br/>
                                    Time : {{ test.time }} minutes</br>
                                    <br/>
                                    {% if app.user %}
                                        <div class="textcenter">
                                            <a href="{{ path("testmyskills_dashboard_new_step1",{testSlug:test.nameSlugued}) }}">
                                                <button class="btn btn-primary">Take it !</button>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    This test is not actif at this time.
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-signal"></i>
                                    Informations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="accordion-body">
                        <div class="panel-body">
                            {% if test.activated == true %}
                            Number of taken tests : {{ test.takenNumber }}<br />
                            <div id="successChart">{% if test.takenNumber==0 %}<i>no informations avaiable{% endif %}</i></div>
                            <br />
                            Difficulty : <div class="c-rating" id="difficulty">{% for i in 1..5 %}{% if i<= test.difficultyRate %}<li class="c-rating__item is-active"></li>{% else %}<li class="c-rating__item  no-hover"></li>{% endif %}{% endfor %}</div>
                            Pertinence : <div class="c-rating" id="pertinence">{% for i in 1..5 %}{% if i<= test.pertinenceRate %}<li class="c-rating__item is-active"></li>{% else %}<li class="c-rating__item  no-hover"></li>{% endif %}{% endfor %}</div>
                            Time : <div class="c-rating" id="time">{% for i in 1..5 %}{% if i<= test.timeRate %}<li class="c-rating__item is-active"></li>{% else %}<li class="c-rating__item  no-hover"></li>{% endif %}{% endfor %}</div>
                            <br />
                        </div>
                        {% else %}
                            This test is not actif at this time.
                        {% endif %}
                    </div>
                        <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-signal"></i>
                                Go ahead
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="accordion-body">
                        <div class="panel-body textcenter">
                        {% if app.user  %}

                                <button onclick="document.location='{{ path("testmyskills_dashboard_new_step1",{testSlug:test.nameSlugued}) }}'" class="btn btn-primary">Take it !</button>

                        {% else %}
                            <button onclick="document.location='{{ path("fos_user_registration_register") }}'"  class="btn btn-primary">Register !</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}