{% extends '::layout.html.twig' %}

{% block title %}
    IT-EXAMS - Take IT tests online | Our tests
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Our tests about {{ technology.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Our tests about {{ technology.name }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="featured-boxes">
            <div class="row">
                {% for test in tests %}
                    <a href="{{ path("testmyskills_test_details",{"testSlug":test.nameSlugued,"testName":test.name}) }}">
                        <div class="col-md-2 col-sm-6">
                            <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg test-div" style="height:124px">
                                {% if test.basic == true %}<div class="plan-ribbon">Basic</div>{% endif %}
                                <div class="box-content textcenter no-margin">
                                    <img style="padding-top:10px;margin-bottom:20px;" height="50px" src="/img/tests-logos/{{ technology.slug }}.png" alt="Logo {{ technology.slug }}"/>
                                    <h4 class="no-margin text-uppercase" style="height:55px">{{ test.name }}</h4>
                                </div>
                                <br />
                                {{ test.numberOfQuestions }} questions<br />

                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}