{% extends '::layout.html.twig' %}
{% block title %}
    IT-EXAMS - Take IT tests online | Contact us
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if result == "2" %}
                <h1>Your mail doesn't exist in our database</h1>
            {% elseif result == "1" %}
                <h1>Your mail has been delete of our database</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}