{% extends '::layout.html.twig' %}

{%  block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">your results</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Details of exercice</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container textcenter">

        <h4>Results of {{ exercice.name }}.</h4>
        <br />
        <h5>Grade for this exercice :{% if takenExercice.result == null %}<i> {% if takenExercice.userId == app.user.getId() %}You need to grade all exercices to know grade average{% else %}Exercice has not beed graded at this time{% endif %} </i> {% else %} {{  takenExercice.result }}/10{% endif %}</h4>
        <br />
        <hr />
        <div style="text-align:left">
            <h4>Files :</h4>
            {% for file in files %}
                <a href="/UploadedFiles/exercices/{{ takenExercice.id }}/{{ file }}">{{ file }}</a><br />
            {% endfor %}
        </div>
        <br />
        <hr />
        <table class="maxsize table">
            <tr>
                <td>Questions</td>
                <td>Note</td>
                <td>Action</td>
            </tr>
            {% for question in takenExercice.questions %}
                <tr>
                    <td style="text-align:left">{{ question.question }}</td>
                    <td>{% if question.grade is not null%}  {{  question.grade }}/10 {% else %} not yet graded{% endif %}</td>
                    <td class="textright">
                        {% if question.grade is  null%}
                        <form action="{{ path('testmyskills_dashboard_exercice_details',{takenExerciceId:takenExercice.id}) }}" method="post">
                            <input style="display:inline-block;float:right;width:100px;" type="submit" value="Note"  class="form-control  btn btn-primary" name="form_action" />
                            <select name="note" class="form-control texcenter" style="display:inline-block;width:100px;float:right;margin-right:10px;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <input type="hidden" name="questionId" value="{{ loop.index - 1 }}"/>
                            {% endif %}
                        </form>

                    </td>
                </tr>
            {% endfor %}
        </table>
        <br /><br />
        <a href="{{ path("testmyskills_dashboard") }}">Return to your dashboard</a>
    </div>
{%  endblock %}

{% block javascripts_end %}

    <script src="/js/ace/build/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("answer");
        editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/{{ takenExercice.language }}");
    </script>

{% endblock %}