{% extends '::layout.html.twig' %}

{%  block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">your results</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Your results</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container textcenter">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1>You finished the exercices</h1>
        <h4>Thanks</h4>


        <a href="{{ path("testmyskills_dashboard") }}">Return to your dashboard</a>
    </div>
{%  endblock %}