{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li class="active">Invite an user</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Invite an user to do an exercice</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        {%  if invitationSent != "true"%}
            <h3>Follow the form bellow and choose a exercice to invite an user.</h3>
            <br />
            {% for type in ['info', 'success', 'error'] %}
                {% for message in app.session.flashbag.get(type) %}
                    <div class="alert alert-{{ type }} alert-admin">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form,{attr:{id:"formInvite",class:"formbig"}}) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <label></label>
                <input type="submit" class="btn btn-primary" name="form_action" value="Invite">
            </div>
            {{ form_end(form) }}
        {%  else  %}
            <div class="textcenter">
                <h4 class="textcenter">Invitation was been sent</h4>
                <a href="{{ path("testmyskills_dashboard") }}">Return to your dashboard</a>
            </div>
        {%  endif %}
    </div>
{% endblock %}

{% block javascripts_end %}
    <script>
    $(document).ready(function() {
        $('.select2').select2();
    });
    </script>
{% endblock %}