{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li class="active">Instruction</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Instruction of {{ test.name }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Instruction</h1>
        <pre>
        {{ instruction }}
        </pre>
        <form action="{{ path("testmyskills_dashboard_startexercice",{exerciceSlug:exercice.nameSlugued}) }}" method="post">
            {% if noInputName != "true" %}
            <div class="row">


                    <label for="name" class="col-md-2">Name of this test :</label>
                    <input type="text" name="name" class="col-md-5"/>

            </div>
            <br />
            <div class="row">
                <label for="language" class="col-md-2">Language of this test :</label>
                <select name="language" class="input-lg select2 form-control" class="col-md-5">
                    <option value="html">HTML</option>
                    <option value="c">C</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="css">CSS</option>
                    <option value="javascript">Javascript</option>
                </select>
            </div>
            <br /><br />
            {% endif %}
            <button type="submit" class="fright btn btn-primary">Start the exercice {{ exercice.name }}</button>
        </form>

        </div>
    </div>
{%  endblock %}


{% block javascripts_end %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{%  endblock %}