{% extends '::layout.html.twig' %}
{% block javascripts_end %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#userExercices').DataTable({});
        } );
    </script>
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li>Dashboard</li>
                        <li class="active">Exercices</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Exercices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Your last exercices</h1>
        <table id="userExercices" style="width:100%;margin:0 auto;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Exercice</th>
                    <th>Name</th>
                    <th>Results</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
            {% for exercice in exercices %}
                <tr>
                    <td>
                        {% if exercice.date |date("Y-m-d h:i:s") == "1970-01-01 01:00:00" %}
                            Not started
                        {% else %}
                            {{ exercice.date |date("Y-m-d h:i:s") }}
                        {% endif %}
                    </td>
                    <td>{{ exercice.exercice.name }}</td>
                    <td>{{ exercice.name }}</td>
                    <td>
                        {% if exercice.questions|length > 0  %}
                            {% if exercice.result =="" and exercice.result !="0" %} Test not yet graded{% else %}{{ exercice.result }} / {{ exercice.exercice.questions|length }}{% endif %}
                        {%  else %}
                            n/a
                        {% endif %}
                    </td>
                    <td>
                       <a href="{{ path('testmyskills_dashboard_exercice_end', {'takenExerciceId': exercice.id})}}">details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}