{% extends '::layout.html.twig' %}

{% block cssHeader %}
    <link href="/js/fineupload/fine-uploader-gallery.css" rel="stylesheet">
    <link href="/js/fineupload/fine-uploader-new.css" rel="stylesheet">
    <style>
        #trigger-upload {
            color: white;
            background-color: #0088cc;
            font-size: 14px;
            padding: 7px 20px;
            background-image: none;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
    </style>
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard_new_step1_exercice",{exerciceSlug:exercice.nameSlugued}) }}">Do an exercice</a></li>
                        <li class="active">{{ exercice.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Do an exercice</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">

            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#exercice" data-toggle="tab">Exercice</a>
                    </li>
                    <li>
                        <a href="#fileUpload" data-toggle="tab"><i class="fa fa-star"></i> Upload your responses</a>
                    </li>
                </ul>
                <form action="{{ path("testmyskills_dashboard_taketexercice",{exerciceSlug:exercice.nameSlugued}) }}" method="post">
                <div class="tab-content">
                    <div id="exercice" class="tab-pane active">
                        <br /><br />
                        During this exercice use the <strong>{{ takenExercice.language|upper }}</strong> language.<br /><br />
                        {% for questionData in questionsData %}
                            <h5>Exercice :</h5>

                            <pre>
{{ questionData.question|raw|replace({'!#': "<", '#!': ">"})|escape }}
    </pre>
                            <div class="cleaner"></div>
                        {% endfor %}

                        <a style="margin-right:20px;" href="#code" data-toggle="tab"  class="btn btn-primary fright"  name="form_action">Upload your response</a>
                    </div>
                    <div id="fileUpload" class="tab-pane">
                        <div id="fine-uploader-manual-trigger"></div>
                    </div>
                </div>
                </form>
            </div>

    </div>
{% endblock %}


{% block javascripts_end %}
    <script>
        $(document).ready(function() {
            var countdown = new Countdown({
                        selector: '#timer',
                        msgPattern: "Time left : {hours} hours, {minutes} minutes, {seconds} seconds",
                        dateStart: new Date({{ dateStart }}*1000),
                    dateEnd: new Date({{ dateEnd }}*1000)
        });

            $('#timer').on('countdownEnd', function() {
                document.location.href = "{{ path("testmyskills_dashboard_exercice_end",{takenExerciceId:takenExercice.id}) }}"
            });
        })
    </script>
    <script src="/js/fineupload/fine-uploader.js"></script>
    <!-- Fine Uploader Gallery template
       ====================================================================== -->
    <script type="text/template" id="qq-template-manual-trigger">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="buttons">
                <div class="qq-upload-button-selector qq-upload-button btn btn-primary">
                    <div>Select files</div>
                </div>
                <button type="button" id="trigger-upload" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> Upload
                </button>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
    <script>
        var manualUploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader-manual-trigger'),
            template: 'qq-template-manual-trigger',
            request: {
                endpoint: '/upload/exercices/{{ takenExercice.id }}'
            },
            thumbnails: {
                placeholders: {
                    waitingPath: '/js/fineupload/placeholders/waiting-generic.png',
                    notAvailablePath: '/js/fineupload/placeholders/not_available-generic.png'
                }
            },
            autoUpload: false,
            callbacks: {
                onAllComplete : function() {
                    document.location.href='{{ path('testmyskills_dashboard_exercice_end',{takenExerciceId:takenExercice.id}) }}'
                }
            }
        });

        qq(document.getElementById("trigger-upload")).attach("click", function() {
            manualUploader.uploadStoredFiles();
        });
    </script>
{% endblock %}