{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Do an exercice</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Do an exercice</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ path("testmyskills_dashboard_taketexercice",{exerciceSlug:exercice.nameSlugued}) }}" method="post">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#exercice" data-toggle="tab">Exercice</a>
                    </li>
                    <li>
                        <a href="#fileUpload" data-toggle="tab"><i class="fa fa-star"></i>Upload your response</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="exercice" class="tab-pane active">
                        <br /><br />
                        During this exercice use the <strong>{{ takenExercice.language|upper }}</strong> language.<br /><br />
                        {% for questionData in questionsData %}
                            <h5>Exercice :</h5>

    <pre>
{{ questionData.question|raw|replace({'!#': "<", '#!': ">"})|escape }}
    </pre>
                            <input type="submit" class="btn btn-primary fright"  name="form_action" value="Next question" />
                            <a style="margin-right:20px;" href="#code" data-toggle="tab"  class="btn btn-primary fright"  name="form_action">Answer this question</a>
                            <div class="cleaner"></div>
                        {% endfor %}
                    </div>
                    <div id="fileUpload" class="tab-pane">

                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block javascripts_end %}
    <script>
        $(document).ready(function() {
            var countdown = new Countdown({
                        selector: '#timer',
                        msgPattern: "Time left : {hours} hours, {minutes} minutes, {seconds} seconds",
                        dateStart: new Date({{ dateStart }}*1000),
                        dateEnd: new Date({{ dateEnd }}*1000)
            });

            $('#timer').on('countdownEnd', function() {
                document.location.href = "{{ path("testmyskills_dashboard_exercice_end",{takenExerciceId:takenExercice.id}) }}"
            });
        })
    </script>
{% endblock %}