{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li class="active">Affiliation system</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Affiliation system</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}

{% block javascripts_start %}


    <script type="text/javascript">
        // Handle the successful return from the API call
        function onSuccess(data) {
            console.log(data);
        }

        // Handle an error response from the API call
        function onError(error) {
            console.log(error);
        }
        function postMessage() {
            // Build the JSON payload containing the content to be shared
            var payload = {
                "comment": "Test your knowledge on your candidates about Information Technologies",
                "content": {
                    "title": "Test your knowledge on your candidates about IT technologies",
                    "description": "IT-Exams is a platform which permits to test your candidates or your knowledge about Information Technologies.",
                    "submitted-url": "https://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}",
                    "submitted-image-url": "http://www.it-exams.tech/img/logo.png"
                },
                "visibility": {
                    "code": "anyone"
                }
            };

            IN.API.Raw("/people/~/shares?format=json")
                    .method("POST")
                    .body(JSON.stringify(payload)).result(onSuccess)
                    .error(onError);
        }

        // Use the API call wrapper to share content on LinkedIn
        function shareContentOnLK() {
            IN.User.authorize(postMessage(), {});
        }

    </script>

{% endblock %}

{% block javascripts_end %}

    <script>

        $(document).ready(function() {
            $.ajaxSetup({ cache: true });
            $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
                FB.init({
                    appId: '626338267516471',
                    version: 'v2.5' // or v2.0, v2.1, v2.2, v2.3
                });
            });
        });

        function shareContentOnFB()
        {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    FB.ui({
                        method: 'share',
                        href: 'https://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}',
                    }, function(response){});
                } else {
                    alert("connection");
                    FB.login(function (response) {

                        if (response.status == 'connected') {

                            FB.ui({
                                method: 'share',
                                href: 'https://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}',
                            }, function(response){});
                        }
                    });

                }
            });



        }

    </script>

    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));

        function shareContentOnTW() {
            var x = screen.width/2 - 500/2;
            var y = screen.height/2 - 300/2;
            window.open("https://twitter.com/intent/tweet?text=Test your knowledge or your candidates with our IT tests&url=http://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}","Tweet","menubar=no, status=no, scrollbars=no, menubar=no, width=500, height=300, top="+y+",left="+x);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Users and affiliated transactions</h3>
        <br/>
        {% if invitationSended == true %}
            <div class="alert alert-info">
                Invitation has been sent to {{ email }}
            </div>
        {% endif %}

        {% if saveBankInformations == true %}
            <div class="alert alert-info">
                Bank informations has been saved
            </div>
        {% endif %}

        {% if saveWithdrawal == true %}
            <div class="alert alert-info">
                Your withdrawal request has been saved
            </div>
        {% endif %}

        {% for error in errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
        <h4 class="textcenter">Amount of affiliated transactions : {{ totalAmount }} €</h4>
        <br />
        <div class="alert alert-info">Link to share : <strong>http://www.it-exams.tech/?AFFILIATE_ID={{ user.id }}</strong></div>
        <br /><br />
        <div class="toggle toggle-primary" data-plugin-toggle="" data-plugin-options="{ &quot;isAccordion&quot;: true }">
            <section class="toggle active"><label>Invite a friend to subscribe to IT-EXAMS</label>
                <div class="toggle-content" style="display: none;">
                    <div class="col-md-12">
                        <br/><br/>
                        <h4>Invite a friend by mail</h4>
                        <form action="{{ path("testmyskills_dashboard_affiliation") }}" method="post">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>email of the person to invite :</label>
                                    <input type="email" id="email" name="email" required="required" class="form-control input-lg">
                                </div>
                                <div class="col-md-2">
                                    <br/>
                                    <input style="position:relative;top:5px;" value="Invite" type="submit" class="btn btn-primary form-control input-lg"/>
                                </div>
                            </div>
                            <input type="hidden" name="form_action" value="inviteUser"/>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="margin-left:30px">
                            <br/><br/>
                            <h4 class="textcenter">Share on Linkedin</h4>
                            <button onclick="shareContentOnLK()" class="btn btn-primary">Post on Linkedin to invite your friends</button>
                        </div>
                        <div class="col-md-3">
                            <br/><br/>
                            <h4 class="textcenter">Share on FaceBook</h4>
                            <button onclick="shareContentOnFB()" class="btn btn-primary">Post on Facebook to invite your friends</button>
                        </div>
                        <div class="col-md-3">
                            <br/><br/>
                            <h4 class="textcenter">Share on Twitter</h4>
                            <button onclick="shareContentOnTW()" class="twitter-share-button btn btn-primary">Post on Twitter to invite your friends</button>
                        </div>
                    </div>
                    <br/><br/>
                </div>
            </section>
            <section class="toggle">
                <label>Affiliated Users and amount earned</label>
                <div class="toggle-content" style="display: none;">
                    <table class="table" align="center" class="col-md-6">
                        <tr>
                            <th>User</th>
                            <th>Amount</th>
                        </tr>
                        {% if users|length > 0 %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.user.getUserName() }}</td>
                                    <td>{{ user.orderAmount }} €</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2"><i>No users for the moment. Invite your friends</i></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </section>

            <section class="toggle">
                <label>Withdrawal</label>
                <div class="toggle-content" style="display: none;">
                    <form action="{{ path("testmyskills_dashboard_affiliation") }}" method="post">
                        <h4>Bank account information</h4>
                        <div class="row">
                            <div class="col-md-6">
                                Enter your IBAN account number without space in the field below :<br/>
                                <input type="text" class="input-lg form-control" name="iban" value="{{ currentUser.iban }}"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                Enter the SWIF code of your bank in the field below :<br/>
                                <input type="text" class="input-lg form-control" name="swift" value="{{ currentUser.swift }}"/>
                            </div>
                            <div class="col-md-2">
                                <input class="btn btn-primary input-lg" style="position:relative;top:25px;" type="submit" value="Save" class="input-lg form-control"/>
                            </div>
                        </div>
                        <input type="hidden" name="form_action" value="saveBankInformations"/>
                    </form>
                    <br/><br/>
                    <hr/>
                    <br/><br/>
                    <h4>Withdrawal requests</h4>
                    <form action="{{ path("testmyskills_dashboard_affiliation") }}" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                Enter the amount of the withdrawal
                                <input type="text" class="input-lg form-control" name="amount"/>
                            </div>
                            <div class="col-md-2">
                                <input style="position:relative;top:20px" type="submit" class="btn btn-primary input-lg form-control" value="Ask the withdrawal"/>
                            </div>
                        </div>
                        <input type="hidden" name="form_action" value="askWidthdrawal"/>
                    </form>
                    <br/>
                    <h4>Your last withdrawal requests</h4>
                    <table class="table" align="center" class="col-md-6">
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>

                        {% if withdrawals|length == 0 %}
                            <tr>
                                <td colspan="3">
                                    <i>No informations</i>
                                </td>
                            </tr>
                        {% endif %}
                        {% for withdrawal in withdrawals %}
                            <tr>
                            <tr>
                                <td>
                                    {{ withdrawal.îd }}
                                </td>

                                <td>{{ withdrawal.date.format("Y-m-d h:m:i") }}</td>
                                <td>{{ withdrawal.amount }} €</td>
                                <td>
                                    {% if withdrawal.status == 1 %}
                                        Accepted
                                    {% elseif withdrawal.status == 0 %}
                                        Pending
                                    {% elseif withdrawal.status == -1 %}
                                        Refused
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
    </div>

{% endblock %}