{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard_credits") }}">credits</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>credits</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <div class="container">
        <h3>Your credits</h3>

        <div >
        {% if message and message=="recharge"%}
            <h4 class="alert-danger alert">You need to buy credit to invite or pass this test or exercice</h4>
        {% endif %}
        {% if credits == false %}
            <strong>You don't have credits.</strong>
            <br />
            <h4>Buy credits</h4>
            <br /><br />
            {{ include('CoreBundle:Dashboard:prices.html.twig')}}
        {% else %}
            {% if credits.credits == -1 %}
                You have <strong>unlimited</strong> credits
            {% else %}
                You have <strong>{{ credits.credits }}</strong> credits.
                <br /><br />
                <h4>Buy credits</h4>
                <br /><br />
                {{ include('CoreBundle:Dashboard:prices.html.twig')}}

            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}