{% extends '::layout.html.twig' %}



{% block javascripts_end %}
    <script type="text/javascript" src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTests').DataTable({});
            $('#userExercices').DataTable({});
            $('#userResults').DataTable({});
        });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        function drawChart(data) {
            var data = google.visualization.arrayToDataTable(data);

            var options = {
                width: 1000,
                height: 300,
                chart: {
                    title: 'Users skills graphics',
                    subtitle: 'Results of users by technology',
                },
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart = new google.charts.Bar(document.getElementById('chartdiv'));

            chart.draw(data, options);
        }
        $(document).ready(function () {


            userResults = [
                {% for user in graphDatas.users %}
                {
                    "userid": "{{ user.userId }}",
                    "userName": "{{ user.firstname }} {{ user.lastname }}",
                    "results": [
                        {% for results in user.results %}
                        {
                            "result": "{{ results.result }}",
                            "testId": "{{ results.testId }}",
                            "nbQuestions": "{{ results.nbQuestions }}"
                        }{% if loop.index < user.results|length %},{% endif %}
                        {% endfor %}
                    ]
                }{% if loop.index < graphDatas.users|length %},{% endif %}
                {% endfor %}
            ];


            testsArray = [
                {% for test in graphDatas.tests %}
                {
                    "id": "{{ test.id }}",
                    "name": "{{ test.name }}"
                }{% if loop.index < graphDatas.tests|length %},{% endif %}
                {% endfor %}
            ]



            data = [];

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if ($(e.target).attr('id') == 'userGraphicsLink') {
                    google.charts.load('current', {'packages': ['bar']});
                    google.charts.setOnLoadCallback(drawChart);
                }
            })
            $(".js2-select").select2();


            $(".user-select").change(function () {
                generateData();
            });

            $(".test-select").change(function () {
                generateData();
            });

            function generateData() {
                data = [];
                selectedUsers = $(".user-select").val()
                selectedTest = $(".test-select").val()

                if (selectedTest != null && selectedUsers != null) {
                    test = ["Users"];
                    for (i = 0; i < selectedTest.length; i++) {
                        for (k = 0; k < testsArray.length; k++) {
                            if (testsArray[k].id == selectedTest[i]) {
                                test.push(testsArray[k].name);
                            }
                        }
                    }
                    data.push(test);
                    {# On parcourt les users selectionné#}
                    for (i = 0; i < selectedUsers.length; i++) {
                        user=[];
                        traitedtest=[];
                        {# On parcourt les resultats de test#}
                        for (r = 0; r < userResults.length; r++) {
                        {# Si l'utilisateur selectionnée egal l'utilisateur du resultat de test#}
                            if (selectedUsers[i] == userResults[r].userid) {
                                if($.inArray(userResults[r].userName,user)==-1) {
                                    user.push(userResults[r].userName);
                                }
                                {# Pour chaque test selectionne#}
                                for (h = 0; h < selectedTest.length; h++) {
                                    {# On parcourt tous les resultats de test de l'utilisateur#}
                                    for (t = 0; t < userResults[r].results.length; t++) {
                                        {# Si le test du resultat de l'utilisateur est le test selectionné#}
                                        if (userResults[r].results[t].testId == selectedTest[h] && $.inArray(selectedTest[h],traitedtest)==-1) {
                                            console.log(userResults[r].results[t].testId + "==" + selectedTest[h]);
                                            traitedtest.push(selectedTest[h]);
                                            if(userResults[r].results[t].nbQuestions == 0) {
                                                user.push(0);
                                            } else {
                                                user.push(userResults[r].results[t].result / userResults[r].results[t].nbQuestions * 100);
                                            }
                                        }
                                    }
                                }
                            }

                        }

                        data.push(user);
                    }

                    console.log(data);
                    drawChart(data);
                }

            }
        })
    </script>
{% endblock %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-12">

            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tests" data-toggle="tab">Your last tests</a>
                    </li>
                    <li>
                        <a href="#exercices" data-toggle="tab">Your last exercices</a>
                    </li>
                    <li>
                        <a href="#results" data-toggle="tab">Users results</a>
                    </li>
                    <li>
                        <a id="userGraphicsLink" href="#userGraphics" data-toggle="tab">Users results graphics</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tests" class="tab-pane active">

                        <h1>Your last tests</h1>
                        <div id="jsGrid"></div>
                        <table id="userTests" style="width:100%;margin:0 auto;">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Test</th>
                                <th>Name</th>
                                <th>Results</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for test in tests %}
                                <tr>
                                    <td>
                                        {% if test.date |date("Y-m-d h:i:s") == "1970-01-01 01:00:00" %}
                                            Not started
                                        {% else %}
                                            {{ test.date |date("Y-m-d h:i:s") }}
                                        {% endif %}
                                    </td>
                                    <td>{{ test.test.name }}</td>
                                    <td>{{ test.testName }}</td>
                                    <td>
                                        {% if test.questions|length > 0 %}
                                            {% if test.result =="" and test.result !="0" %} Test not terminated{% else %}{{ test.result }} / {{ test.test.numberOfQuestions }}{% endif %}
                                        {% else %}
                                            n/a
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if test.result !="" or test.result =="0" %}
                                            <a href="{{ path('testmyskills_dashboard_test_results', {'takenTestId': test.id}) }}">details</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="exercices" class="tab-pane">
                        <h1>Your last exercices</h1>
                        <table id="userExercices" style="width:100%;margin:0 auto;">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Exercice</th>
                                <th>Name</th>
                                <th>Results</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exercice in exercices %}
                                <tr>
                                    <td>
                                        {% if exercice.date |date("Y-m-d h:i:s") == "70-01-01 01:01:01" %}
                                            Not started
                                        {% else %}
                                            {{ exercice.date |date("Y-m-d h:i:s") }}
                                        {% endif %}
                                    </td>
                                    <td>{{ exercice.exercice.name }}</td>
                                    <td>{{ exercice.name }}</td>
                                    <td>
                                        {% if exercice.questions|length > 0 %}
                                            {% if exercice.result =="" and exercice.result !="0" %} Test not yet graded{% else %}{{ exercice.result }} / {{ exercice.exercice.questions|length }}{% endif %}
                                        {% else %}
                                            n/a
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('testmyskills_dashboard_exercice_details', {'takenExerciceId': exercice.id}) }}">details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="results" class="tab-pane">
                        <h1> Users results</h1>

                        <table id="userResults" class="table maxsize">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                                    <td><a href="{{ path("testmyskills_dashboard_user_results",{userId: user.id}) }}">Results</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="userGraphics" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Graphic data</h1>
                                <h4>Users</h4>
                                <select class="js2-select user-select" multiple="multiple" style="width:100%">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</option>
                                    {% endfor %}
                                </select>
                                <h4>Tests</h4>
                                <select class="js2-select test-select" multiple="multiple" style="width:100%">
                                    {% for test in graphDatas.tests %}
                                        <option value="{{ test.id }}">{{ test.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-12" id="chartContainer">
                                <br/><br/>
                                <h1> Users skills graphic</h1>
                                <div id="chartdiv" style="width:900px;height:1000px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}