<div class="row">
    <div class="pricing-table">
        <div class="col-md-4 col-sm-6 plan-container">
            <a href="{{ path('testmyskills_payment',{plan:"enterprise"}) }}">
                <div class="plan">
                    <h3>enterprise<span>500 €</span></h3>
                    <br />
                    <ul>
                        <li>500 tests</li>
                        <li>Possibility to take all tests & exercises</li>
                        <li>Possibility to invite a candidate by email</li>
                        <li>Possibility to create your own tests</li>
                        <li>Possibility to create your own exercises</li>
                        <li>Access to new created tests after your subscribtion</li>
                    </ul>
                    <br /><br />

                    <img alt="" border="0" src="/img/paiement.jpg">

                </div>
              </a>
        </div>
        <div class="col-md-4 col-sm-6 center plan-container">
            <a href="{{ path('testmyskills_payment',{plan:"professional"}) }}">
            <div class="plan most-popular">
                <div class="plan-ribbon-wrapper">
                    <div class="plan-ribbon">Popular</div>
                </div>
                <h3>Professional<span>150 € </span></h3>
                <br />
                <ul>
                    <li>150 tests</li>
                    <li>Possibility to take all free tests & exercises</li>
                    <li>Possibility to invite a candidate by email for free test or exercice</li>
                    <li>Possibility to create your own tests</li>
                    <li>Possibility to create your own exercises</li>
                    <li>Access to new created tests after your subscribtion</li>
                </ul>
                <br /><br />

                    <a href="{{ path('testmyskills_payment',{plan:"professional"}) }}"><img alt="" border="0" src="/img/paiement.jpg"></a>


            </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 plan-container">
            <a href="{{ path('testmyskills_payment',{plan:"basic"}) }}">
            <div class="plan">
                <h3>Basic<span>Free</span></h3>
                <br />
                <ul>
                    <li><strong>10</strong> tests</li>
                    <li>Possibility to take 10 tests & exercises</li>
                    <li>Possibility to invite a candidate by email</li>
                    <li>Possibility to create your own tests</li>
                    <li>Possibility to create your own exercises</li>
                    <li>Access to new created tests after your subscription</li>
                </ul>
                <br /><br />

                <img alt="" border="0" src="/img/paiement.jpg">

            </div>
           </a>
        </div>

    </div>
</div>