{% extends '::layout.html.twig' %}

{% block cssHeader %}
    <link rel="stylesheet" media="print" href="/css/print.css" />
{% endblock %}

{% block javascripts_end %}
    <script type="text/javascript" src="/js/chart/d3.v3.min.js"></script>
    <script type="text/javascript" src="/js/chart/radar.js"></script>
    <script>
        var w = 500,
                h = 500;

        var colorscale = d3.scale.category10();

        //Legend titles
        var LegendOptions = ['Success'];

        //Data
        var d = [
            [
                {% for techno,data in graphResults %}
                {   axis:"{{ techno }}",value:{% if data.nbQuestions ==0 %}0{% else %}{{ data.result/data.nbQuestions}}{% endif %} },
                {% endfor %}
            ]
        ];

        //Options for the Radar chart, other than default
        var mycfg = {
            w: w,
            h: h,
            maxValue: 1,
            levels: 6,
            ExtraWidthX: 300,
            color: d3.scale.category10()
        }

        //Call function to draw the Radar chart
        //Will expect that data is in %'s
        RadarChart.draw("#chartdiv", d, mycfg);



    </script>
{% endblock %}
{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1>{{ user.firstname }} {{ user.lastname }} results</h1>

            <div class="no-print"><img onclick="window.print();" src="/img/print.png" alt="print results" /><span onclick="window.print();"> Print results</span></div>
            <hr />
            <div class="row">
                <div id="chartdiv"></div>
                <hr />
            {% for result in results.tests %}
                    <div class="col-md-4 border-out p20" style="eight:920px">
                        <h3 class="textcenter">{{ result.test.name }}</h3>
                        <h4 class="textcenter">Test results: {{ result.takenTest.result }} / {{ result.takenTest.questions|length }}</h4>
                        <br /><br />
                        <table class="table maxsize textcenter"  align="center">
                            <tr>
                                <td style="width:50%">Category name</td>
                                <td style="width:50%">Results</td>
                            </tr>
                            {% for category in result.categories %}
                                <tr>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.percent}}%</td>
                                </tr>
                            {%  endfor %}
                        </table>
                        <br />
                        <h6>User has <strong>{% if result.takenTest.sitePercentage >= 50  %}passed {% else %} failed {% endif %}</strong> the test and performed better than <strong>{{ result.takenTest.sitePercentage }}%</strong> of others users.</h6>
                        <br/>
                    </div>
            {% endfor %}
            </div>
            <hr />
            <div class="row">
                {% for result in results.exercices %}
                    <div class="col-md-12 border-out p20">
                        <h5>Grade for this exercice :{% if result.takenExercice.result == null %}<i> {% if result.takenExercice.userId == app.user.getId() %}You need to grade all exercices to know grade average{% else %}Exercice has not beed graded at this time{% endif %} </i> {% else %} {{  result.takenExercice.result }}/10{% endif %}</h4>
                            <br />
                            <table class="table">
                                <tr>
                                    <td>Questions</td>
                                    <td>Note</td>
                                </tr>
                                {% for question in result.takenExercice.questions %}
                                    <tr>
                                        <td style="text-align:left">{{ question.question }}</td>
                                        <td>{% if question.grade is not null%}  {{  question.grade }}/10 {% else %} not yet graded{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}