{% extends '::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript " src="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script type="text/javascript " src="/bundles/core/js/addTest.js"></script>

{% endblock %}

{% block stylessheets %}
    <link rel="stylesheet" href="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
{% endblock %}



{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li>Manage your exercices</></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Add a exercice</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">

        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-admin">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                <div class="toggle toggle-primary" data-plugin-toggle="" data-plugin-options="{ &quot;isAccordion&quot;: true }">
                    <section class="toggle active"><label class="section">Exercice informations</label>
                        <br /><br />
                        <div class="toggle-content" style="display: block;">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.instructions) }}
                                    {{ form_widget(form.instructions) }}
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.tags) }}
                                    {{ form_widget(form.tags) }}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.time) }}
                                    {{ form_widget(form.time) }}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.activated) }}
                                    {{ form_widget(form.activated) }}
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="toggle">
                        <label class="section">Exercice questions</label>
                        <div class="toggle-content" style="display: none;">
                            <br />
                            <ul class="questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}">
                                {% for question in form.questions %}
                                    <li>{{ form_row(question) }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </div>





                <input type="submit" class="fright btn btn-lg btn-lg btn-primary" value="Save"/>
                {{ form_widget(form._token) }}
            </form>
    </div>

{% endblock %}


{% block javascripts_end %}
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addAnswerLink = $('<a href="#" class="add_answer_link"><i class="fa fa-star"></i> Add an question</a>');
        var $newLinkLi = $('<li></li>').append($addAnswerLink);


        $('form').on('click', '.delete-exercice', function()
        {
            $(this).parent().remove();//remove element
            //optionally submit department form via AJAX call to persist the delete
            return false;//stop event
        });

        function addAnswerForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            newForm+='<div  class="btn btn-danger delete-exercice">Delete</div>';
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.questions');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAnswerLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAnswerForm($collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock %}