{% extends '::layout.html.twig' %}

{% block header %}
    <section class="page-header ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="{{ path("testmyskills_dashboard") }}">Dashboard</a></li>
                        <li class="active">Manage your exercices</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Manage your exercices</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="container">
        <h3>Manage exercices</h3>
        <a href="{{ path('testmyskills_manage_exercice_add') }}">Add an exercice</a>
        <table class="maxsize">
            <tr>
                <td>Exercice name</td>
                <td>Exercice description</td>
                <td>Actions</td>
            </tr>
            {% for test in tests %}
                <tr>
                    <td style="min-width:20%">{{ exercice.name }}</td>
                    <td style="width:70%">{{ exercice.description }}</td>
                    <td style="min-width:10%">
                        <a href="{{ path("testmyskills_manage_exercice_update",{testId:test.id}) }}">Update</a>
                        <br />
                        <a href="{{ path("testmyskills_manage_exercices",{linkAction:"delete",exerciceId:exercice.id}) }}">Delete</a>
                        <br />
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}